Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
      - make
      - lua-test
  ...

use MustPassRepeatedly
  test/e2e/settings/ssl_passthrough.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Fix unsupported value HTTP for protocol
  charts/ingress-nginx/values.yaml
Due: none

Revert "use MustPassRepeatedly"
  test/e2e/settings/ssl_passthrough.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

make chunkSize < len(host) and remove retries
  test/e2e/settings/ssl_passthrough.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Update annotations.md
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Update main.go
  internal/ingress/annotations/ratelimit/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Update main_test.go
  internal/ingress/annotations/ratelimit/main_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Update template_test.go
  internal/ingress/controller/template/template_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Update template.go
  internal/ingress/controller/template/template.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Rl fix (#1)
  internal/ingress/annotations/ratelimit/main.go
  internal/ingress/annotations/ratelimit/main_test.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/template/template_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

chore(deps): upgrade headers-more module to 0.37
  images/nginx-1.25/rootfs/build.sh
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

fix lint errors
  go.work.sum
  internal/nginx/maxmind.go
  internal/nginx/maxmind_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

bump to rerun ci
  SECURITY.md
Due: none

Update ingress-path-matching.md
  docs/user-guide/ingress-path-matching.md
Due: none

Update ingress-path-matching.md (#11007)
  docs/user-guide/ingress-path-matching.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/ingress-path-matching/index.html
Due: none

Update ingress-path-matching.md (#11008)
  docs/user-guide/ingress-path-matching.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/ingress-path-matching/index.html
Due: none

Fix duplicate location in NGINX config (#10090)
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Update images.yaml
  .github/workflows/images.yaml
Due: none

Update scorecards.yml
  .github/workflows/scorecards.yml
Due: none

Update vulnerability-scans.yaml
  .github/workflows/vulnerability-scans.yaml
Due: none

chore(deps): upgrade headers-more module to 0.37 (#10991)
  images/nginx-1.25/rootfs/build.sh
  images/nginx/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Bump grpc and reintroduce OTEL compilation
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Enable s390x again
  .github/workflows/images.yaml
  images/nginx-1.25/Makefile
Due: none

Bump grpc and reintroduce OTEL compilation (#11021)
  .github/workflows/images.yaml
  images/nginx-1.25/Makefile
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Bump modsecurity on nginx 1.25
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Bump modsecurity on nginx 1.25 (#11024)
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Bumping ModSecurity CRS to v4.0.0
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Stop reporting interrupted tests
  test/e2e/framework/framework.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Fix print-e2e-suite (#9536)
  hack/print-e2e-suite.sh
Due: pull-ingress-nginx-boilerplate

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-test-lua: any of: \.lua$
