Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
      - make
      - lua-test
  ...

update test runner go base to 3.20
  images/test-runner/rootfs/Dockerfile
Due: none

update test runner to latest build (#11547)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

tag new test runner image with new nginx base 0.0.8 (#11551)
  images/test-runner/TAG
Due: none

tag new test runner image with new nginx base 0.0.8 (#11549)
  images/test-runner/TAG
Due: none

update test runner go base to 3.20 (#11552)
  images/test-runner/rootfs/Dockerfile
Due: none

update test runner go base to 3.20 (#11550)
  images/test-runner/rootfs/Dockerfile
Due: none

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

add k8s 1.30 to ci build
  .github/workflows/ci.yaml
Due: none

force all ci to run on workflow dispatch
  .github/workflows/ci.yaml
Due: none

correct the 1.30 version
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

update test runner to latest build
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

add k8s 1.30 to ci build (#11553)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

add k8s 1.30 to ci build (#11554)
  .github/workflows/ci.yaml
  .github/workflows/images.yaml
Due: none

update test runner to latest build (#11557)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

update test runner to latest build (#11558)
  build/run-in-docker.sh
  test/e2e-image/Makefile
  test/e2e/run-chart-test.sh
Due: pull-ingress-nginx-boilerplate

bumping 1.10.2 version
  TAG
Due: none

bumping TAG for 1.11 release
  TAG
Due: none

Release notes for 1.10.2
  changelog/controller-1.10.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
  go.work.sum
Due: none

Update readme
  README.md
Due: none

[fix] fix temp configs cleanup
  internal/ingress/controller/nginx.go
  internal/ingress/controller/nginx_test.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Mage: Stop mutating release notes.
  magefiles/steps/helm.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Mage: Implement static check recommendations.
  magefiles/steps/release.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Images: Bump `kube-webhook-certgen`.
  images/kube-webhook-certgen/TAG
Due: none

Update charts/ingress-nginx/changelog/helm-chart-4.10.2.md
  charts/ingress-nginx/changelog/helm-chart-4.10.2.md
Due: none

Images: Bump `kube-webhook-certgen`. (#11578)
  images/kube-webhook-certgen/TAG
Due: none

Update index.yaml
  index.yaml
Due: none

Release Notes 1.11.0 and chart 4.11.0
  README.md
  changelog/controller-1.11.0.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.11.0.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/e2e-tests.md
  go.work.sum
Due: none

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-test-lua: any of: \.lua$
