Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
      - make
      - lua-test
  ...

Fix boolean configuration (#11484)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

[feature] bump nginx to 1.25.5 and add http3 module (#11470)
  Makefile
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

feat: add ssl patches for coroutines to work in lua ssl blocks
  images/nginx-1.25/rootfs/patches/ssl_1_ssl_cert_cb_yield.patch
  images/nginx-1.25/rootfs/patches/ssl_2_ssl_sess_cb_yield.patch
  images/nginx-1.25/rootfs/patches/ssl_3_ssl_client_hello_cb_yield.patch
Due: none

Update getting-started.md with new prerequisites
  docs/developer-guide/getting-started.md
Due: none

Update getting-started.md with new prerequisites (#11486)
  docs/developer-guide/getting-started.md
Due: none

Deploy GitHub Pages
  developer-guide/getting-started/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update getting-started.md with new prerequisites (#11487)
  docs/developer-guide/getting-started.md
Due: none

Update main.go to make proxy-ssl-secret annotation optional regarding usage of other proxy-ssl-* annotations
  internal/ingress/annotations/proxyssl/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Fix ssl-passthrough under fragmented ClientHello (#11424)
  pkg/tcpproxy/tcp.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

fix(docs - Multiple Ingress controllers): HELM needs ingressClass
  docs/user-guide/multiple-ingress.md
Due: none

docs: Update Ingress-NGINX v1.10.1 compatibility with Kubernetes v1.30
  README.md
Due: none

docs: Update Ingress-NGINX v1.10.1 compatibility with Kubernetes v1.30 (#11495)
  README.md
Due: none

docs: Update Ingress-NGINX v1.10.1 compatibility with Kubernetes v1.30 (#11500)
  README.md
Due: none

Bump aquasecurity/trivy-action from 0.22.0 to 0.23.0 in the all group (#11501)
  .github/workflows/vulnerability-scans.yaml
Due: none

Update README for the chart
  charts/ingress-nginx/README.md
Due: none

Refactor branches in custom error pages
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Allow exposing custom error pages /metrics on different port
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Split create and serve logic for custom error pages
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Add unit tests for Helm chart
  charts/ingress-nginx/tests/default-backend-deployment_test.yaml
  charts/ingress-nginx/tests/default-backend-service_test.yaml
Due: none

Fix custom error pages health check when not exporting /metrics
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Load images from ci build cache
  .github/workflows/ci.yaml
  .github/workflows/zz-tmpl-k8s-e2e.yaml
  images/Makefile
  test/e2e/CUSTOMERRORPAGES_IMAGE
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate

Fix unsupported value HTTP for protocol
  charts/ingress-nginx/values.yaml
Due: none

Allow chart to expose extra ports for default backend
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-service.yaml
  charts/ingress-nginx/values.yaml
Due: none

Add e2e tests for custom-error-pages
  docs/e2e-tests.md
  test/e2e/CUSTOMERRORPAGES_IMAGE
  test/e2e/defaultbackend/custom_error_pages.go
  test/e2e/framework/deployment.go
  test/e2e/run-e2e-suite.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Rename environment variables
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Add e2e tests for Helm chart
  charts/ingress-nginx/ci/deployment-defaultbackend-values.yaml
Due: none

Add feature toggle for /metrics in custom error pages
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Refactor and rename custom error pages vars
  images/custom-error-pages/rootfs/main.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Update tls.md section Default SSL Certificate
  docs/user-guide/tls.md
Due: none

[docs] update README to add information about HTTP/3 support
  images/nginx-1.25/README.md
Due: none

Upgrade OWASP_MODSECURITY_CRS_VERSION 3.3.5 to 4.4.0 and update docs
  docs/user-guide/third-party-addons/modsecurity.md
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

switch to include more patches
  images/nginx-1.25/rootfs/patches/00_drop-alias-root.patch
  images/nginx-1.25/rootfs/patches/01_nginx-1.25.3-win32_max_err_str.patch
  images/nginx-1.25/rootfs/patches/02_nginx-1.25.3-stream_balancer_export.patch
  images/nginx-1.25/rootfs/patches/03_nginx-1.25.3-stream_proxy_get_next_upstream_tries.patch
  images/nginx-1.25/rootfs/patches/04_nginx-1.25.3-stream_proxy_timeout_fields.patch
  images/nginx-1.25/rootfs/patches/05_nginx-1.25.3-stream_ssl_preread_no_skip.patch
  images/nginx-1.25/rootfs/patches/06_nginx-1.25.3-resolver_conf_parsing.patch
  images/nginx-1.25/rootfs/patches/07_nginx-1.25.3-daemon_destroy_pool.patch
  images/nginx-1.25/rootfs/patches/08_nginx-1.25.3-init_cycle_pool_release.patch
  images/nginx-1.25/rootfs/patches/09_nginx-1.25.3-balancer_status_code.patch
  images/nginx-1.25/rootfs/patches/10_nginx-1.25.3-delayed_posted_events.patch
  images/nginx-1.25/rootfs/patches/11_nginx-1.25.3-privileged_agent_process.patch
  images/nginx-1.25/rootfs/patches/12_nginx-1.25.3-privileged_agent_process_connections.patch
  images/nginx-1.25/rootfs/patches/13_nginx-1.25.3-privileged_agent_process_thread_pool.patch
  images/nginx-1.25/rootfs/patches/14_nginx-1.25.3-single_process_graceful_exit.patch
  images/nginx-1.25/rootfs/patches/15_nginx-1.25.3-intercept_error_log.patch
  images/nginx-1.25/rootfs/patches/16_nginx-1.25.3-upstream_pipelining.patch
  images/nginx-1.25/rootfs/patches/17_nginx-1.25.3-no_error_pages.patch
  images/nginx-1.25/rootfs/patches/18_nginx-1.25.3-no_Werror.patch
  images/nginx-1.25/rootfs/patches/19_nginx-1.25.3-log_escape_non_ascii.patch
  images/nginx-1.25/rootfs/patches/20_nginx-1.25.3-proxy_host_port_vars.patch
  images/nginx-1.25/rootfs/patches/21_nginx-1.25.3-cache_manager_exit.patch
  images/nginx-1.25/rootfs/patches/22_nginx-1.25.3-larger_max_error_str.patch
  images/nginx-1.25/rootfs/patches/23_nginx-1.25.3-pcre_conf_opt.patch
  images/nginx-1.25/rootfs/patches/24_nginx-1.25.3-always_enable_cc_feature_tests.patch
  images/nginx-1.25/rootfs/patches/25_nginx-1.25.3-ssl_cert_cb_yield.patch
  images/nginx-1.25/rootfs/patches/26_nginx-1.25.3-ssl_sess_cb_yield.patch
  images/nginx-1.25/rootfs/patches/27_nginx-1.25.3-ssl_client_hello_cb_yield.patch
  images/nginx-1.25/rootfs/patches/28_nginx-1.25.3-upstream_timeout_fields.patch
  images/nginx-1.25/rootfs/patches/29_nginx-1.25.3-safe_resolver_ipv6_option.patch
  images/nginx-1.25/rootfs/patches/30_nginx-1.25.3-socket_cloexec.patch
  images/nginx-1.25/rootfs/patches/31_nginx-1.25.3-reuseport_close_unused_fds.patch
Due: none

Upgrade OWASP_MODSECURITY_CRS_VERSION 3.3.5 to 4.4.0 and update docs (#11511)
  docs/user-guide/third-party-addons/modsecurity.md
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/third-party-addons/modsecurity/index.html
Due: none

Docs: Improve default certificate usage. (#11504)
  docs/user-guide/tls.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/tls/index.html
Due: none

Docs: Specify `ingressClass` for multi-controller setup. (#11493)
  docs/user-guide/multiple-ingress.md
Due: none

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-test-lua: any of: \.lua$
