Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-lualint:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
  ...

pull-ingress-nginx-test-lua:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95
      command:
      - make
      - lua-test
  ...

Merge pull request #11277 from strongjz/chart-1.10.1 (#11314)
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.1.md
  charts/ingress-nginx/values.yaml
Due: none

Chart: Revert erroneous release v1.10.1.
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/helm-chart-4.10.1.md
  charts/ingress-nginx/values.yaml
Due: none

add workflow to helm release and update ct for branch
  .github/workflows/helm.yaml
Due: none

add workflow to helm release and update ct for branch (#11317)
  .github/workflows/helm.yaml
Due: none

sfix position of options
  .github/workflows/helm.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Avoid calling GetBackendConfiguration() twice, use clearer name for helm chart option
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Fix helm-docs ordering
  charts/ingress-nginx/README.md
Due: none

chore(deps): group update k8s.io packages to v0.30.0
  go.mod
  go.sum
  go.work
  go.work.sum
Due: none

upgraded github.com/ncabatoff/process-exporter v0.7.10 => v0.7.11
  go.mod
  go.sum
Due: none

downgrade github.com/prometheus/procfs to v0.13.0
  go.mod
  go.sum
  go.work.sum
Due: none

chore(deps): group update k8s.io packages to v0.30.0 (#11344)
  go.mod
  go.sum
  go.work
  go.work.sum
Due: none

Moving on with dataplane
  Makefile
  build/build.sh
  cmd/dataplane/main.go
  cmd/dataplane/pkg/nginx/nginx.go
  internal/dataplane/nginx/nginx.go
  internal/dataplane/nginx/remote.go
  internal/ingress/controller/nginx.go
  rootfs/Dockerfile
  rootfs/Dockerfile.dataplane
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Move NGINX configuration to other place
  build/build.sh
  cmd/dataplane/main.go
  docs/enhancements/20231001-split-containers.md
  images/nginx-1.25/TAG
  images/nginx-1.25/rootfs/build.sh
  internal/dataplane/nginx/nginx.go
  internal/ingress/controller/controller_test.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/util.go
  rootfs/Dockerfile
  rootfs/etc/nginx/conf/nginx.conf
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Create NGINX dataplane handler
  cmd/dataplane/Dockerfile
  cmd/dataplane/main.go
  cmd/dataplane/pkg/nginx/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Remove unnecessary files from build
  images/nginx-1.25/rootfs/Dockerfile
  images/nginx-1.25/rootfs/build.sh
Due: pull-ingress-nginx-boilerplate

It is working
  deploy/static/provider/kind/deploy.yaml
  internal/dataplane/nginx/nginx.go
  internal/dataplane/nginx/remote.go
  internal/ingress/controller/nginx.go
  pkg/util/file/structure.go
  rootfs/etc/nginx/nginx.conf
  rootfs/etc/nginx/opentracing.json
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Do more stuff
  cmd/dataplane/main.go
  deploy/static/provider/kind/deploy.yaml
  internal/dataplane/nginx/nginx.go
  internal/dataplane/nginx/remote.go
  internal/ingress/controller/nginx.go
  pkg/flags/flags.go
  pkg/util/file/file_watcher.go
  rootfs/Dockerfile
  test/e2e/run-kind-e2e.sh
  version/version.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Try and miserably fail to make this thing work
  charts/ingress-nginx/old/controller-deploymentOLD.old
  charts/ingress-nginx/values.yaml
  internal/ingress/controller/nginx.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Bump Kubernetes version on images
  build/dev-env.sh
  images/test-runner/Makefile
  images/test-runner/TAG
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate

First pass of partial e2e
  NGINX_BASE
  build/dev-env.sh
  charts/ingress-nginx/templates/controller-deployment.yaml
  cmd/dataplane/main.go
  images/test-runner/Makefile
  internal/ingress/controller/checker.go
  internal/ingress/controller/nginx.go
  test/e2e-image/e2e.sh
  test/e2e/framework/exec.go
  test/e2e/framework/framework.go
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
  test/e2e/wait-for-nginx.sh
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Bump Kubernetes version on images (#11346)
  build/dev-env.sh
  images/test-runner/Makefile
  images/test-runner/TAG
  test/e2e/run-chart-test.sh
  test/e2e/run-kind-e2e.sh
Due: pull-ingress-nginx-boilerplate

📝 docs: grpc timeouts example
  docs/examples/grpc/README.md
Due: none

✨ feat: add grpc timeouts with proxy settings if backend is grpc
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/grpc.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

📝 docs: add links and default values for proxy timeout
  docs/user-guide/nginx-configuration/annotations.md
Due: none

🐛 fix: uppercase for protocol
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/annotations/grpc.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

📝 docs: Documentation only changes
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
Due: none

🧪 test: add e2e test for timeout
  go.mod
  go.sum
  test/e2e/annotations/grpc.go
  test/e2e/framework/grpc_delay.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

🐛 fix: upgrade to 1.0.6 to fix nil pointer
  test/e2e/framework/grpc_delay.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

🐛 fix: lint
  test/e2e/framework/grpc_delay.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

🧪 test: trigger ci
  test/e2e/annotations/grpc.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Allow configuring nginx worker reload behaviour, to prevent multiple concurrent worker reloads which can lead to high resource usage and OOMKill (#10884)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/values.yaml
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/template/configmap.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

Docs: Remove opentracing and zipkin from docs
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
Due: none

Docs: Remove opentracing and zipkin from docs (#11361)
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  docs/user-guide/third-party-addons/opentracing.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
  user-guide/nginx-configuration/configmap/index.html
  user-guide/third-party-addons/opentracing/index.html
Due: none

PLAT-64979 Update c3 c3-nginx-ingress chart to export health port
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/values.yaml
Due: none

helm-chart-4.8.3-1 support for private service connect
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/values.yaml
Due: none

feature(extra_manifests): initial work
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/extra-manifests.yaml
  charts/ingress-nginx/tests/extra-manifests_test.yaml
  charts/ingress-nginx/values.yaml
Due: none

fix lint errors
  pkg/util/runtime/cpu_linux.go
  test/e2e/cgroups/cgroups.go
Due: pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen

Path conditions:
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-test-lua: any of: \.lua$
