Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
        env:
        - name: CODECOV_TOKEN
          valueFrom:
            secretKeyRef:
              name: nfd-creds
              key: codecov-token
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add optionable arguments to NewWorker
  cmd/nfd-worker/main.go
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker.go
  pkg/nfd-worker/nfd-worker_test.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Use worker DS OwnerReference for NF's
  deployment/base/rbac/worker-role.yaml
  deployment/helm/node-feature-discovery/templates/role.yaml
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: describe Kubernetes version compatibility in versions page
  docs/deployment/index.md
  docs/deployment/kustomize.md
  docs/developer-guide/index.md
  docs/get-started/introduction.md
  docs/reference/versions.md
Due: pull-node-feature-discovery-verify-docs-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/data.json
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.15
  v0.15/404.html
  v0.15/contributing/index.html
  v0.15/deployment/helm.html
  v0.15/deployment/image-variants.html
  v0.15/deployment/index.html
  v0.15/deployment/kustomize.html
  v0.15/deployment/metrics.html
  v0.15/deployment/operator.html
  v0.15/deployment/tls.html
  v0.15/deployment/uninstallation.html
  v0.15/developer-guide/index.html
  v0.15/get-started/index.html
  v0.15/get-started/introduction.html
  v0.15/get-started/quick-start.html
  v0.15/reference/gc-commandline-reference.html
  v0.15/reference/index.html
  v0.15/reference/master-commandline-reference.html
  v0.15/reference/master-configuration-reference.html
  v0.15/reference/plugin-commandline-reference.html
  v0.15/reference/topology-updater-commandline-reference.html
  v0.15/reference/topology-updater-configuration-reference.html
  v0.15/reference/versions.html
  v0.15/reference/worker-commandline-reference.html
  v0.15/reference/worker-configuration-reference.html
  v0.15/search.html
  v0.15/sitemap.xml
  v0.15/usage/custom-resources.html
  v0.15/usage/customization-guide.html
  v0.15/usage/examples-and-demos.html
  v0.15/usage/features.html
  v0.15/usage/index.html
  v0.15/usage/kubectl-plugin.html
  v0.15/usage/nfd-gc.html
  v0.15/usage/nfd-master.html
  v0.15/usage/nfd-topology-updater.html
  v0.15/usage/nfd-worker.html
  v0.15/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Release v0.15.6
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for v0.15
  v0.15/404.html
  v0.15/contributing/index.html
  v0.15/data.json
  v0.15/deployment/helm.html
  v0.15/deployment/image-variants.html
  v0.15/deployment/index.html
  v0.15/deployment/kustomize.html
  v0.15/deployment/metrics.html
  v0.15/deployment/operator.html
  v0.15/deployment/tls.html
  v0.15/deployment/uninstallation.html
  v0.15/developer-guide/index.html
  v0.15/get-started/index.html
  v0.15/get-started/introduction.html
  v0.15/get-started/quick-start.html
  v0.15/reference/gc-commandline-reference.html
  v0.15/reference/index.html
  v0.15/reference/master-commandline-reference.html
  v0.15/reference/master-configuration-reference.html
  v0.15/reference/plugin-commandline-reference.html
  v0.15/reference/topology-updater-commandline-reference.html
  v0.15/reference/topology-updater-configuration-reference.html
  v0.15/reference/versions.html
  v0.15/reference/worker-commandline-reference.html
  v0.15/reference/worker-configuration-reference.html
  v0.15/search.html
  v0.15/sitemap.xml
  v0.15/usage/custom-resources.html
  v0.15/usage/customization-guide.html
  v0.15/usage/examples-and-demos.html
  v0.15/usage/features.html
  v0.15/usage/index.html
  v0.15/usage/kubectl-plugin.html
  v0.15/usage/nfd-gc.html
  v0.15/usage/nfd-master.html
  v0.15/usage/nfd-topology-updater.html
  v0.15/usage/nfd-worker.html
  v0.15/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Release v0.16.2
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Drop the -enable-nodefeature-api flag
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrolebinding.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/service.yaml
  deployment/helm/node-feature-discovery/templates/serviceaccount.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  docs/reference/master-commandline-reference.md
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.15.6
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.16.2
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

README: update to v0.16.2
  README.md
Due: none

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

fix: take into consideration possibility of having empty line in swap file
  source/memory/memory.go
  source/memory/memory_test.go
  source/memory/testdata/noswap
  source/memory/testdata/swap
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: update kubernetes to v1.30.2 and klog to v2.130.1
  api/nfd/go.mod
  api/nfd/go.sum
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Release v0.16.3
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

nfd-worker: change TestRun to use NodeFeature API
  pkg/nfd-worker/nfd-worker.go
  pkg/nfd-worker/nfd-worker_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add revision history limit for master replica and for garbage collector
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Adding POD_NAME and POD_UID env variable to daemonsets
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/testdata/test_topology_daemonset.yaml
  pkg/operator/daemonset/testdata/test_worker_daemonset.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Using dedicated ServiceAccount for manager pod
  deployment/operator/config/manager/manager.yaml
  deployment/operator/config/rbac/auth_proxy/role_binding.yaml
  deployment/operator/config/rbac/core/leader_election_role_binding.yaml
  deployment/operator/config/rbac/core/manager_role.yaml
  deployment/operator/config/rbac/core/manager_role.yaml.working
  deployment/operator/config/rbac/core/manager_role_binding.yaml
  deployment/operator/config/rbac/kustomization.yaml
  deployment/operator/config/rbac/manager/kustomization.yaml
  deployment/operator/config/rbac/manager/sa.yaml
Due: pull-node-feature-discovery-verify-master

remove accidently checked in files
  deployment/helm/nfd-operator/templates/rbac/core/manager_role.yaml.working
  deployment/operator/config/rbac/core/manager_role.yaml.working
Due: pull-node-feature-discovery-verify-master
