Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
        env:
        - name: CODECOV_TOKEN
          valueFrom:
            secretKeyRef:
              name: nfd-creds
              key: codecov-token
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

Prepare v0.16
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.16.0
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Revert "build(deps): bump actions/checkout from 1 to 4"
  .github/workflows/gh-pages.yml
Due: none

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update readme to v0.16.0 release
  README.md
Due: none

deployment/helm: enable specifying additional cmdline args
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

nfd-gc: Remove stale NRT objects
  pkg/nfd-gc/nfd-gc.go
  pkg/nfd-gc/nfd-gc_test.go
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

helm: remove defaults CPU limits
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

docs: mark v0.14 EOL'd
  docs/_includes/templates/content.liquid
Due: pull-node-feature-discovery-verify-docs-master

sync nodefeaturerules config with helm
  deployment/operator/config/crd/bases/nfd.k8s-sigs.io_v1alpha1_nodefeaturerules.yaml
Due: pull-node-feature-discovery-verify-master

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: properly handle IPv6 from NODE_ADDRESS
  cmd/nfd-topology-updater/main.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.15
  v0.15/404.html
  v0.15/contributing/index.html
  v0.15/deployment/helm.html
  v0.15/deployment/image-variants.html
  v0.15/deployment/index.html
  v0.15/deployment/kustomize.html
  v0.15/deployment/metrics.html
  v0.15/deployment/operator.html
  v0.15/deployment/tls.html
  v0.15/deployment/uninstallation.html
  v0.15/developer-guide/index.html
  v0.15/get-started/index.html
  v0.15/get-started/introduction.html
  v0.15/get-started/quick-start.html
  v0.15/reference/gc-commandline-reference.html
  v0.15/reference/index.html
  v0.15/reference/master-commandline-reference.html
  v0.15/reference/master-configuration-reference.html
  v0.15/reference/plugin-commandline-reference.html
  v0.15/reference/topology-updater-commandline-reference.html
  v0.15/reference/topology-updater-configuration-reference.html
  v0.15/reference/versions.html
  v0.15/reference/worker-commandline-reference.html
  v0.15/reference/worker-configuration-reference.html
  v0.15/search.html
  v0.15/sitemap.xml
  v0.15/usage/custom-resources.html
  v0.15/usage/customization-guide.html
  v0.15/usage/examples-and-demos.html
  v0.15/usage/features.html
  v0.15/usage/index.html
  v0.15/usage/kubectl-plugin.html
  v0.15/usage/nfd-gc.html
  v0.15/usage/nfd-master.html
  v0.15/usage/nfd-topology-updater.html
  v0.15/usage/nfd-worker.html
  v0.15/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

sync operator nfr crds with operand helm nfr crds
  deployment/helm/nfd-operator/crds/nfd-api-crds.yaml
  deployment/operator/config/crd/bases/nfd.k8s-sigs.io_v1alpha1_nodefeaturerules.yaml
  deployment/operator/config/crd/bases/nfd.kubernetes.io_v1alpha1_nodefeaturerules.yaml
  deployment/operator/config/manifests/bases/nfd-operator.clusterserviceversion.yaml
  deployment/operator/config/samples/nodefeaturerules.nfd.k8s-sigs.io_v1alpha1_nodefeaturerules.yaml
Due: pull-node-feature-discovery-verify-master

add enableTaints option to enable taint support in the crd
  api/operator/v1/nodefeaturediscovery_types.go
  deployment/helm/nfd-operator/crds/nfd-api-crds.yaml
  deployment/operator/config/crd/bases/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/config/samples/nfd.kubernetes.io_v1_nodefeaturediscovery.yaml
  pkg/operator/deployment/deployment.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Adding NFD CR status handling
  cmd/nfd-operator/main.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
  pkg/operator/status/mock_status.go
  pkg/operator/status/status.go
  pkg/operator/status/status_test.go
  pkg/operator/status/suite_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Getting rid of pkg/utils
  cmd/nfd-operator/main.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/data.json
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/cpu: Detect E/P cores and expose IDs through labels
  docs/usage/features.md
  source/cpu/cpu.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Getting rid of pkg/version
  cmd/nfd-operator/main.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Fix the problem with starting the master with empty cache
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

add nodefeaturegroups support
  deployment/operator/config/crd/bases/nfd.k8s-sigs.io_nodefeaturegroups.yaml
  deployment/operator/config/crd/kustomization.yaml
  deployment/operator/config/rbac/master/clusterrole.yaml
Due: pull-node-feature-discovery-verify-master

sync helm chart crds/rbac with the kustomize files
  deployment/helm/nfd-operator/crds/nfd-api-crds.yaml
  deployment/helm/nfd-operator/crds/nfd.k8s-sigs.io_nodefeaturegroups.yaml
  deployment/helm/nfd-operator/crds/nfd.k8s-sigs.io_nodefeatures.yaml
  deployment/helm/nfd-operator/crds/nfd.k8s-sigs.io_v1alpha1_nodefeaturerules.yaml
  deployment/helm/nfd-operator/crds/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/helm/nfd-operator/crds/node.k8s.io_v1alpha1_noderesourcetopologies.yaml
  deployment/helm/nfd-operator/templates/rbac.yaml
  deployment/helm/nfd-operator/templates/rbac/auth_proxy/client_clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/auth_proxy/role.yaml
  deployment/helm/nfd-operator/templates/rbac/auth_proxy/role_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/auth_proxy/service.yaml
  deployment/helm/nfd-operator/templates/rbac/core/leader_election_role.yaml
  deployment/helm/nfd-operator/templates/rbac/core/leader_election_role_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/core/manager_role.yaml
  deployment/helm/nfd-operator/templates/rbac/core/manager_role.yaml.working
  deployment/helm/nfd-operator/templates/rbac/core/manager_role_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/gc/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/gc/clusterrole_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/gc/sa.yaml
  deployment/helm/nfd-operator/templates/rbac/master/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/master/clusterrole_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/master/sa.yaml
  deployment/helm/nfd-operator/templates/rbac/nodefeaturediscovery_editor_role.yaml
  deployment/helm/nfd-operator/templates/rbac/nodefeaturediscovery_viewer_role.yaml
  deployment/helm/nfd-operator/templates/rbac/prune/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/prune/clusterrole_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/prune/sa.yaml
  deployment/helm/nfd-operator/templates/rbac/topologyupdater/clusterrole.yaml
  deployment/helm/nfd-operator/templates/rbac/topologyupdater/clusterrole_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/topologyupdater/sa.yaml
  deployment/helm/nfd-operator/templates/rbac/worker/role.yaml
  deployment/helm/nfd-operator/templates/rbac/worker/role_binding.yaml
  deployment/helm/nfd-operator/templates/rbac/worker/sa.yaml
Due: pull-node-feature-discovery-verify-master

ensure post-delete-job's service account matches ref in job spec
  deployment/helm/node-feature-discovery/templates/post-delete-job.yaml
Due: pull-node-feature-discovery-verify-master

Support detection of AVXVNNIINT16
  docs/usage/features.md
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master
