Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

Adding NODE_ADDRESS env variable to topology DSto support default configz
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/testdata/test_topology_daemonset.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

feat: add spiffe integration in master and worker
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deploy: add spire manifests in helm and kustomize
  deployment/components/master-config/nfd-master.conf.example
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-cluster-role.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/spire-agent-service-account.yaml
  deployment/helm/node-feature-discovery/templates/spire-bundle-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-cluster-role.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-configmap.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-service-account.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-service.yaml
  deployment/helm/node-feature-discovery/templates/spire-server-statefulset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/spiffe/kustomization.yaml
  deployment/overlays/spiffe/namespace.yaml
  deployment/overlays/spiffe/spire-agent-cluster-role.yaml
  deployment/overlays/spiffe/spire-agent-configmap.yaml
  deployment/overlays/spiffe/spire-agent-daemonset.yaml
  deployment/overlays/spiffe/spire-agent-service-account.yaml
  deployment/overlays/spiffe/spire-bundle-configmap.yaml
  deployment/overlays/spiffe/spire-server-cluster-role.yaml
  deployment/overlays/spiffe/spire-server-configmap.yaml
  deployment/overlays/spiffe/spire-server-service-account.yaml
  deployment/overlays/spiffe/spire-server-service.yaml
  deployment/overlays/spiffe/spire-server-statefulset.yaml
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Fixing prune job implementation
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
  pkg/operator/job/job.go
  pkg/operator/job/job_test.go
  pkg/operator/job/mock_job.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Updating the operator-sdk to v1.32
  deployment/operator/bundle.Dockerfile
  deployment/operator/bundle/manifests/nfd.kubernetes.io_nodefeaturediscoveries.yaml
  deployment/operator/bundle/metadata/annotations.yaml
Due: pull-node-feature-discovery-verify-master

Pivoting to new operator implementation
  cmd/nfd-operator/main.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: import features package as nfdfeatures
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: add DisableAutoPrefix feature gate
  docs/reference/feature-gates.md
  docs/reference/master-configuration-reference.md
  pkg/features/features.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Re-add -enable-nodefeature-api cmdline flag
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrolebinding.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/service.yaml
  deployment/helm/node-feature-discovery/templates/serviceaccount.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  docs/reference/master-commandline-reference.md
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Adding Getters to the Deployment and Daemonset interfaces
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/daemonset_test.go
  pkg/operator/daemonset/mock_daemonset.go
  pkg/operator/deployment/deployment.go
  pkg/operator/deployment/deployment_test.go
  pkg/operator/deployment/mock_deployment.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-worker: improved log when creating NodeFeature object
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add NodeFeatureGroup CRD
  Dockerfile_generator
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeaturegroup.go
  api/nfd/v1alpha1/register.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/base/rbac/master-clusterrole.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/feature-gates.md
  docs/usage/custom-resources.md
  docs/usage/customization-guide.md
  examples/nodefeaturegroup.yaml
  hack/update_codegen.sh
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/features/features.go
  pkg/nfd-master/metrics.go
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-master/node-updater-pool.go
  pkg/nfd-master/updater-pool.go
  pkg/nfd-master/updater-pool_test.go
  pkg/nfd-worker/nfd-worker_test.go
  test/e2e/data/nodefeaturegroup-1.yaml
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/crd.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

api/nfd: document all undocumented fields in the types
  api/nfd/v1alpha1/types.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: allow different types of features of the same name
  api/nfd/v1alpha1/feature.go
  api/nfd/v1alpha1/feature_test.go
  docs/usage/customization-guide.md
  pkg/apis/nfd/nodefeaturerule/expression-api_test.go
  pkg/apis/nfd/nodefeaturerule/expression.go
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/apis/nfd/nodefeaturerule/rule_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

source: allow multi-type features
  source/source.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

cpu: advertise AVX10 version
  deployment/nodefeaturerule/samples/nodefeaturerule-cpu.yaml
  docs/usage/customization-guide.md
  docs/usage/features.md
  source/cpu/cpu.go
  source/cpu/cpuid_amd64.go
  source/cpu/cpuid_linux_arm.go
  source/cpu/cpuid_linux_arm64.go
  source/cpu/cpuid_linux_ppc64le.go
  source/cpu/cpuid_linux_s390x.go
  source/cpu/cpuid_stub.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

source/cpu: disable AVX10 label
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  deployment/nodefeaturerule/samples/nodefeaturerule-cpu.yaml
  docs/reference/worker-configuration-reference.md
  docs/usage/features.md
  source/cpu/cpu.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

docs/helm: document all feature gates
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-docs-master

feat/nfd-master: support CR restrictions
  go.mod
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: add CR restrictions to the master configuration reference
  docs/reference/master-configuration-reference.md
  examples/nodefeature.yaml
  nfd-master.conf
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

deploy: add CR restrictions to the helm config
  deployment/components/master-config/nfd-master.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-configuration-reference.md
  examples/nodefeature.yaml
  go.mod
  nfd-master.conf
  pkg/nfd-master/namespace-lister.go
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

docs: add more cross-references to NodeFeatureGroup API
  docs/usage/custom-resources.md
  docs/usage/customization-guide.md
Due: pull-node-feature-discovery-verify-docs-master

Path conditions:
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
