Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
        env:
        - name: CODECOV_TOKEN
          valueFrom:
            secretKeyRef:
              name: nfd-creds
              key: codecov-token
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

apis/nfd/validate: use testify/assert for checking test results
  pkg/apis/nfd/validate/validate.go
  pkg/apis/nfd/validate/validate_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: log errors on node update retries
  pkg/nfd-master/node-updater-pool.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Adding master deployment implementation
  pkg/operator/client/client.go
  pkg/operator/client/mock_client.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
  pkg/operator/deployment/deployment.go
  pkg/operator/deployment/deployment_test.go
  pkg/operator/deployment/mock_deployment.go
  pkg/operator/deployment/suite_test.go
  pkg/operator/deployment/testdata/test_master_deployment.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/system: Add reading vendor information
  docs/usage/customization-guide.md
  examples/nodefeature.yaml
  source/system/system.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/cpu: fix build tags on rdt discovery
  source/cpu/rdt_linux_amd64.go
  source/cpu/rdt_stub.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add swap support in nfd
  deployment/components/common/worker-mounts.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  docs/usage/customization-guide.md
  docs/usage/features.md
  pkg/utils/hostpath/hostpath.go
  source/memory/memory.go
  source/memory/memory_test.go
  source/memory/testdata/noswap
  source/memory/testdata/swap
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: check if node exists before trying update
  pkg/nfd-master/node-updater-pool.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

add ability to use a custom issuer
  deployment/helm/node-feature-discovery/templates/cert-manager-certs.yaml
  deployment/helm/node-feature-discovery/templates/cert-manager-issuer.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

fix hook issue
  source/local/local.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

generate: update autogenerate tools
  Dockerfile_generator
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update auto-generated code
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/v1alpha1/generated.pb.go
  pkg/apis/nfd/v1alpha1/generated.proto
  pkg/apis/nfd/v1alpha1/zz_generated.deepcopy.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/doc.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/doc.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/doc.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  pkg/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/informers/externalversions/nfd/interface.go
  pkg/generated/informers/externalversions/nfd/v1alpha1/interface.go
  pkg/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
  pkg/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerule.go
  pkg/generated/listers/nfd/v1alpha1/expansion_generated.go
  pkg/generated/listers/nfd/v1alpha1/nodefeature.go
  pkg/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  pkg/labeler/labeler.pb.go
  pkg/labeler/mock_LabelerClient.go
  pkg/podres/mocks/PodResourcesListerClient.go
  source/mock_LabelSource.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.15
  v0.15/404.html
  v0.15/contributing/index.html
  v0.15/deployment/helm.html
  v0.15/deployment/image-variants.html
  v0.15/deployment/index.html
  v0.15/deployment/kustomize.html
  v0.15/deployment/metrics.html
  v0.15/deployment/operator.html
  v0.15/deployment/tls.html
  v0.15/deployment/uninstallation.html
  v0.15/developer-guide/index.html
  v0.15/get-started/index.html
  v0.15/get-started/introduction.html
  v0.15/get-started/quick-start.html
  v0.15/reference/gc-commandline-reference.html
  v0.15/reference/index.html
  v0.15/reference/master-commandline-reference.html
  v0.15/reference/master-configuration-reference.html
  v0.15/reference/plugin-commandline-reference.html
  v0.15/reference/topology-updater-commandline-reference.html
  v0.15/reference/topology-updater-configuration-reference.html
  v0.15/reference/versions.html
  v0.15/reference/worker-commandline-reference.html
  v0.15/reference/worker-configuration-reference.html
  v0.15/search.html
  v0.15/sitemap.xml
  v0.15/usage/custom-resources.html
  v0.15/usage/customization-guide.html
  v0.15/usage/examples-and-demos.html
  v0.15/usage/features.html
  v0.15/usage/index.html
  v0.15/usage/kubectl-plugin.html
  v0.15/usage/nfd-gc.html
  v0.15/usage/nfd-master.html
  v0.15/usage/nfd-topology-updater.html
  v0.15/usage/nfd-worker.html
  v0.15/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Adding topology deployment implementation
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/controllers/nodefeaturediscovery_reconciler_test.go
  pkg/operator/daemonset/daemonset.go
  pkg/operator/daemonset/daemonset_test.go
  pkg/operator/daemonset/mock_daemonset.go
  pkg/operator/daemonset/suite_test.go
  pkg/operator/daemonset/testdata/test_topology_daemonset.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update references to release v0.15.2
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for v0.15
  v0.15/404.html
  v0.15/contributing/index.html
  v0.15/data.json
  v0.15/deployment/helm.html
  v0.15/deployment/image-variants.html
  v0.15/deployment/index.html
  v0.15/deployment/kustomize.html
  v0.15/deployment/metrics.html
  v0.15/deployment/operator.html
  v0.15/deployment/tls.html
  v0.15/deployment/uninstallation.html
  v0.15/developer-guide/index.html
  v0.15/get-started/index.html
  v0.15/get-started/introduction.html
  v0.15/get-started/quick-start.html
  v0.15/reference/gc-commandline-reference.html
  v0.15/reference/index.html
  v0.15/reference/master-commandline-reference.html
  v0.15/reference/master-configuration-reference.html
  v0.15/reference/plugin-commandline-reference.html
  v0.15/reference/topology-updater-commandline-reference.html
  v0.15/reference/topology-updater-configuration-reference.html
  v0.15/reference/versions.html
  v0.15/reference/worker-commandline-reference.html
  v0.15/reference/worker-configuration-reference.html
  v0.15/search.html
  v0.15/sitemap.xml
  v0.15/usage/custom-resources.html
  v0.15/usage/customization-guide.html
  v0.15/usage/examples-and-demos.html
  v0.15/usage/features.html
  v0.15/usage/index.html
  v0.15/usage/kubectl-plugin.html
  v0.15/usage/nfd-gc.html
  v0.15/usage/nfd-master.html
  v0.15/usage/nfd-topology-updater.html
  v0.15/usage/nfd-worker.html
  v0.15/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update generate scripts to use latest code_gen functions
  Dockerfile_generator
  Makefile
  go.mod
  go.sum
  hack/generate.sh
  hack/tools.go
  hack/update_codegen.sh
  pkg/apis/nfd/v1alpha1/types.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.15.2
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update readme to v0.15.2 release
  README.md
Due: none

add support for worker daemonset
  pkg/operator/controllers/nodefeaturediscovery_reconciler.go
  pkg/operator/worker/mock_worker.go
  pkg/operator/worker/suite_test.go
  pkg/operator/worker/testdata/nfd.kubernetes.io_v1_nodefeaturediscovery.yaml
  pkg/operator/worker/testdata/test_worker_configmap.yaml
  pkg/operator/worker/testdata/test_worker_daemonset.yaml
  pkg/operator/worker/worker.go
  pkg/operator/worker/worker_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Set permissions needed by Worker daemonset
  deployment/operator/config/default/kustomization.yaml
  deployment/operator/config/worker/kustomization.yaml
  deployment/operator/config/worker/role.yaml
  deployment/operator/config/worker/rolebinding.yaml
  deployment/operator/config/worker/service_account.yaml
  pkg/operator/worker/worker_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: mark the -crd-controller flag as deprecated
  cmd/nfd-master/main.go
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

go.mod: bump github.com/golang/protobuf to v1.5.4
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: fix memory leak in nfd api-controller
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Dockerfile: bump grpc-health-probe to v0.4.25
  Dockerfile
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.14
  v0.14/404.html
  v0.14/contributing/index.html
  v0.14/deployment/helm.html
  v0.14/deployment/image-variants.html
  v0.14/deployment/index.html
  v0.14/deployment/kustomize.html
  v0.14/deployment/metrics.html
  v0.14/deployment/operator.html
  v0.14/deployment/tls.html
  v0.14/deployment/uninstallation.html
  v0.14/developer-guide/index.html
  v0.14/get-started/index.html
  v0.14/get-started/introduction.html
  v0.14/get-started/quick-start.html
  v0.14/reference/gc-commandline-reference.html
  v0.14/reference/index.html
  v0.14/reference/master-commandline-reference.html
  v0.14/reference/master-configuration-reference.html
  v0.14/reference/topology-updater-commandline-reference.html
  v0.14/reference/topology-updater-configuration-reference.html
  v0.14/reference/versions.html
  v0.14/reference/worker-commandline-reference.html
  v0.14/reference/worker-configuration-reference.html
  v0.14/search.html
  v0.14/sitemap.xml
  v0.14/usage/custom-resources.html
  v0.14/usage/customization-guide.html
  v0.14/usage/examples-and-demos.html
  v0.14/usage/features.html
  v0.14/usage/index.html
  v0.14/usage/nfd-gc.html
  v0.14/usage/nfd-master.html
  v0.14/usage/nfd-topology-updater.html
  v0.14/usage/nfd-worker.html
  v0.14/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master
