Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
        env:
        - name: CODECOV_TOKEN
          valueFrom:
            secretKeyRef:
              name: nfd-creds
              key: codecov-token
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.16.4
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

README: update to v0.16.4
  README.md
Due: none

test/e2e: simplify TestMain
  test/e2e/e2e_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: use ptr.To to get pointer to bool
  test/e2e/utils/pod/pod.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Implement helm add & install in helm e2e test
  go.mod
  go.sum
  test/e2e/helm_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-worker: Add a readiness probe
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: explicit state variable for the node updater pool
  pkg/nfd-master/updater-pool.go
  pkg/nfd-master/updater-pool_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: use only unbuffered chans in the nfd api-controller
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: proper shutdown of nfd api informers
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Drop dynamic run-time reconfiguration
  deployment/components/master-config/kustomization.yaml
  deployment/components/topology-updater-config/kustomization.yaml
  deployment/components/worker-config/kustomization.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  docs/reference/worker-configuration-reference.md
  docs/usage/nfd-master.md
  docs/usage/nfd-topology-updater.md
  docs/usage/nfd-worker.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker-internal_test.go
  pkg/nfd-worker/nfd-worker.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

test/e2e: drop the pod security admission hack
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/network: Ignore bonding_masters interface during scanning
  source/network/network.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

scripts/test-infra: bump golangci-lint to v1.60.3
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: simplify, remove unnecessary check
  test/e2e/utils/noderesourcetopology.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Bump Go to v1.23
  Makefile
  Tiltfile
  go.mod
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

source/system: Add reading product name information
  docs/usage/customization-guide.md
  source/system/system.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: cleanup updater-pool method args
  pkg/nfd-master/updater-pool.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deploy: add CR restrictions to the helm config
  deployment/base/rbac/master-clusterrole.yaml
  deployment/components/master-config/nfd-master.conf.example
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/master-configuration-reference.md
  examples/nodefeature.yaml
  go.mod
  nfd-master.conf
  pkg/nfd-master/namespace-lister.go
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/data/nodefeaturerule-6.yaml
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

helm: rename args chart value to extraArgs
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

helm: rename args to extraArgs in values.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

Add helm values to configure hostNetwork and additional env vars
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

go.mod: bump kubernetes to v1.31
  api/nfd/go.mod
  api/nfd/go.sum
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

generate: update packages
  Dockerfile_generator
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update auto-generated code
  api/generated/clientset/versioned/fake/clientset_generated.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/generated/informers/externalversions/factory.go
  api/generated/listers/nfd/v1alpha1/nodefeature.go
  api/generated/listers/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: use Typed* workqueue types
  pkg/nfd-master/updater-pool.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add .idea/ to gitignore
  .gitignore
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add parameter to configure health endpoint port
  cmd/nfd-master/main.go
  cmd/nfd-topology-updater/main.go
  cmd/nfd-worker/main.go
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

NFD compatibility client prototype
  api/image-compatibility/v1alpha1/spec.go
  cmd/client-nfd/main.go
  cmd/client-nfd/subcmd/compat/attach.go
  cmd/client-nfd/subcmd/compat/compat.go
  cmd/client-nfd/subcmd/compat/validate-node.go
  cmd/client-nfd/subcmd/root.go
  examples/compatibility-6-wind-router.json
  go.mod
  go.sum
  pkg/client-nfd/compat/attach.go
  pkg/client-nfd/compat/match/generic.go
  pkg/client-nfd/compat/match/kernel.go
  pkg/client-nfd/compat/match/match.go
  pkg/client-nfd/compat/parser/entry.go
  pkg/client-nfd/compat/parser/parser.go
  pkg/client-nfd/compat/spec.go
  pkg/client-nfd/compat/validate-node.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add appropriate kernel version validation
  examples/compatibility-6-wind-router.json
  go.mod
  go.sum
  pkg/client-nfd/compat/parser/entry.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

fix the example file
  examples/compatibility-6-wind-router.json
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-gc: drop one duplicate import from tests
  pkg/nfd-gc/nfd-gc_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

use imagePullSecrets in post-delete-job
  deployment/helm/node-feature-discovery/templates/post-delete-job.yaml
Due: pull-node-feature-discovery-verify-master

docs: quote shell snippets containing urls with query parameters
  README.md
  docs/deployment/kustomize.md
  docs/deployment/uninstallation.md
  docs/get-started/quick-start.md
Due: pull-node-feature-discovery-verify-docs-master

nfd-master: Add status for NodeFeatureRule CRD
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerulestatus.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerulestatus.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerulestatus.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeaturerulestatus.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Doc: Fix tilt up issue in feature discovering in developer guide
  docs/developer-guide/index.md
Due: pull-node-feature-discovery-verify-docs-master
