Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

Add experimental note and fix subcmds flags naming
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/utils.go
  cmd/nfd/subcmd/compat/validate-node.go
  docs/reference/node-feature-client-reference.md
  docs/usage/image-compatibility.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Remove error logs for nodes without nodefeatures
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/apis/nfd/nodefeaturerule/rule_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update the documentation
  docs/reference/node-feature-client-reference.md
Due: pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test: add utility for namespace labels patching and add the test cases for denyNodeFeatureLabels restriction
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/namespace/namespace.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/node-feature-client-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/image-compatibility.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

fix for UT
  pkg/resourcemonitor/podresourcesscanner.go
  pkg/resourcemonitor/podresourcesscanner_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: bump golang.org/x/net to v0.33.0
  api/nfd/go.mod
  api/nfd/go.sum
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

feat: add spiffe integration in master and worker
  cmd/nfd-master/main.go
  cmd/nfd-worker/main.go
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Prepare v0.17 release
  Makefile
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/README.md
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

deploy: add spire manifests in helm and kustomize
  deployment/components/master-config/nfd-master.conf.example
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/Chart.lock
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/charts/spire-0.24.1.tgz
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  deployment/overlays/spiffe/kustomization.yaml
  deployment/overlays/spiffe/namespace.yaml
  deployment/overlays/spiffe/spire-agent-cluster-role.yaml
  deployment/overlays/spiffe/spire-agent-configmap.yaml
  deployment/overlays/spiffe/spire-agent-daemonset.yaml
  deployment/overlays/spiffe/spire-agent-service-account.yaml
  deployment/overlays/spiffe/spire-bundle-configmap.yaml
  deployment/overlays/spiffe/spire-server-cluster-role.yaml
  deployment/overlays/spiffe/spire-server-configmap.yaml
  deployment/overlays/spiffe/spire-server-service-account.yaml
  deployment/overlays/spiffe/spire-server-service.yaml
  deployment/overlays/spiffe/spire-server-statefulset.yaml
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deploy: add spire manifests in helm and kustomize
  deployment/helm/node-feature-discovery/Chart.lock
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/helm/node-feature-discovery/charts/spire-0.24.1.tgz
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  go.mod
  go.sum
  pkg/nfd-master/nfd-master.go
  pkg/nfd-worker/nfd-worker.go
  pkg/utils/spiffe/spiffe.go
  pkg/utils/spiffe/spiffe_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.17.0
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

README: update to v0.17
  README.md
Due: none

apis/nfd: Add Status to NodeFeature CRD
  api/generated/clientset/versioned/clientset.go
  api/generated/clientset/versioned/fake/clientset_generated.go
  api/generated/clientset/versioned/fake/doc.go
  api/generated/clientset/versioned/fake/register.go
  api/generated/clientset/versioned/scheme/doc.go
  api/generated/clientset/versioned/scheme/register.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/doc.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/doc.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/generated/informers/externalversions/factory.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  api/generated/informers/externalversions/nfd/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerule.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeature.go
  api/generated/listers/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/nfd-worker/nfd-worker.go
  pkg/nfd-worker/nfd-worker_test.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-worker: drop the gRPC health port
  cmd/nfd-worker/main.go
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-worker: add healthz endpoint
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-worker: replace --metrics with --port
  cmd/nfd-worker/main.go
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: serve metrics and healthz endpoint on the same port
  cmd/nfd-master/main.go
  deployment/base/master/master-deployment.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-topology-updater: serve metrics and healthz on the same port
  cmd/nfd-topology-updater/main.go
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

add configurable pagination to nfd-master
  cmd/nfd-master/main.go
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

add configurable pagination to nfd-gc
  cmd/nfd-gc/main.go
  pkg/nfd-gc/nfd-gc.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

add comments and better arg description
  cmd/nfd-master/main.go
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

shorten flag name
  cmd/nfd-master/main.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

add documentation
  docs/usage/nfd-master.md
Due: pull-node-feature-discovery-verify-docs-master

add documentation
  docs/reference/gc-commandline-reference.md
  docs/usage/nfd-gc.md
Due: pull-node-feature-discovery-verify-docs-master

add documentation
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

clean
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

improve docs
  docs/reference/gc-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

fix listing to paginate continue
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

fix dep
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

limit is automatically handled for you
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

update default
  cmd/nfd-master/main.go
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: Add status for NodeFeatureRule CRD
  api/generated/clientset/versioned/clientset.go
  api/generated/clientset/versioned/fake/clientset_generated.go
  api/generated/clientset/versioned/fake/doc.go
  api/generated/clientset/versioned/fake/register.go
  api/generated/clientset/versioned/scheme/doc.go
  api/generated/clientset/versioned/scheme/register.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/doc.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/doc.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/generated/informers/externalversions/factory.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  api/generated/informers/externalversions/nfd/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerule.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeature.go
  api/generated/listers/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
