Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
        env:
        - name: CODECOV_TOKEN
          valueFrom:
            secretKeyRef:
              name: nfd-creds
              key: codecov-token
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

Quote values and operation in the expression string
  api/nfd/v1alpha1/types.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Remove experimental note from the image compatibility doc
  docs/usage/image-compatibility.md
Due: pull-node-feature-discovery-verify-docs-master

Fix the usage doc and code desc
  api/nfd/v1alpha1/types.go
  docs/usage/image-compatibility.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Add CRD for nfd-worker config
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeatureworkerconfig.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeatureworkerconfig.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeatureworkerconfig.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeatureworkerconfig.go
  api/nfd/v1alpha1/register.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/nfd-worker/nfd-api-controller.go
  pkg/nfd-worker/nfd-worker.go
  test/e2e/data/workerconfig-1.yaml
  test/e2e/data/workerconfig-2.yaml
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/crd.go
  test/e2e/utils/rbac.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

topology-updater: Track new resources not present during startup
  pkg/resourcemonitor/noderesourcesaggregator.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: Add status for NodeFeatureRule CRD
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Docs: Fix the link to feature gates documentation
  docs/reference/master-commandline-reference.md
  docs/reference/worker-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

nfd-topology-updater: Detect E/P cores and expose through attributes
  pkg/nfd-topology-updater/nfd-topology-updater.go
  source/cpu/cpu.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

scripts/update-gh-pages: fix release version parsing
  scripts/github/update-gh-pages.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

deployment: add startupProbe for nfd-master
  deployment/base/master/master-deployment.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Fix version parsing
  cmd/nfd-gc/main.go
  cmd/nfd-master/main.go
  cmd/nfd-topology-updater/main.go
  cmd/nfd-worker/main.go
  scripts/github/update-gh-pages.sh
  scripts/test-infra/test-e2e-presubmit.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Makefile: fix version parsing
  Makefile
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/data.json
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Cleanup for NodeFeature API being GA
  cmd/nfd-master/main.go
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/templates/clusterrole.yaml
  deployment/helm/node-feature-discovery/templates/clusterrolebinding.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/templates/service.yaml
  deployment/helm/node-feature-discovery/templates/serviceaccount.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  docs/developer-guide/index.md
  docs/get-started/index.md
  pkg/nfd-master/nfd-master.go
  test/e2e/node_feature_discovery_test.go
  test/e2e/utils/service.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

go.mod: bump kubernetes to v1.32
  api/nfd/go.mod
  api/nfd/go.sum
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Extend NFR code with MatchStatus and introduce failFast strategy.
  api/image-compatibility/v1alpha1/spec.go
  api/nfd/v1alpha1/types.go
  pkg/apis/nfd/nodefeaturerule/expression-api_test.go
  pkg/apis/nfd/nodefeaturerule/expression.go
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/apis/nfd/nodefeaturerule/rule_test.go
  pkg/kubectl-nfd/dryrun.go
  pkg/nfd-master/nfd-master.go
  source/custom/custom.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add image compatibility documentation
  docs/reference/feature-gates.md
  docs/reference/node-feature-client-reference.md
  docs/reference/versions.md
  docs/usage/image-compatibility.md
Due: pull-node-feature-discovery-verify-docs-master

Introduce nfd client tool with a subset of image compatibility commands
  Makefile
  cmd/nfd/main.go
  cmd/nfd/subcmd/compat/compat.go
  cmd/nfd/subcmd/compat/options/platform.go
  cmd/nfd/subcmd/compat/validate-node.go
  cmd/nfd/subcmd/root.go
  examples/image-compatibility.yaml
  go.mod
  go.sum
  pkg/client-nfd/compat/artifact-client/client.go
  pkg/client-nfd/compat/artifact-client/mock_ArtifactClient.go
  pkg/client-nfd/compat/node-validator/node-validator.go
  pkg/client-nfd/compat/node-validator/node-validator_test.go
  pkg/client-nfd/compat/node-validator/status.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Drop protobuf definitions and protobuf code generation
  Dockerfile_generator
  api/nfd/v1alpha1/doc.go
  api/nfd/v1alpha1/generate.sh
  api/nfd/v1alpha1/generated.pb.go
  api/nfd/v1alpha1/generated.proto
  api/nfd/v1alpha1/types.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update autogenerated code
  api/generated/clientset/versioned/clientset.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturerule.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturerule.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeature.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturerule.go
  api/generated/listers/nfd/v1alpha1/nodefeature.go
  api/generated/listers/nfd/v1alpha1/nodefeaturegroup.go
  api/generated/listers/nfd/v1alpha1/nodefeaturerule.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master
