Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml:

presubmits:
  kubernetes-sigs/node-feature-discovery:
  - name: pull-node-feature-discovery-verify-master
    skip_if_only_changed: "^docs/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-master
      description: "Verify source code of node-feature-discovery: check formatting, lint etc."
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/verify.sh
        env:
        - name: CODECOV_TOKEN
          valueFrom:
            secretKeyRef:
              name: nfd-creds
              key: codecov-token
  - name: pull-node-feature-discovery-verify-docs-master
    run_if_changed: "^docs/"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: verify-docs-master
      description: "Verify documentation sources"
    spec:
      containers:
      - image: ruby:slim
        command:
        - scripts/test-infra/mdlint.sh
  - name: pull-node-feature-discovery-build-master
    skip_if_only_changed: "^docs/|^demo/|^deployment/|^\\.github/|\\.(md)$|^(README|LICENSE|OWNERS)$"
    branches:
    - ^master
    decorate: true
    annotations:
      testgrid-dashboards: sig-node-node-feature-discovery
      testgrid-tab-name: build-master
      description: "Build node-feature-discovery binaries"
    spec:
      containers:
      - image: golang:1.20
        command:
        - scripts/test-infra/build.sh

deployment: add startupProbe for nfd-master
  deployment/base/master/master-deployment.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

nfd-master: tweak list options for NodeFeature informer
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-gc: check that node informer cache sync succeeded
  pkg/nfd-gc/nfd-gc.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

first commit
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

ds
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/data.json
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Implement helm add & install in helm e2e test
  go.mod
  go.sum
  test/e2e/helm_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Docs: Fixed featue-gates reference
  docs/reference/master-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-gc: only fetch object metadata
  pkg/nfd-gc/nfd-gc.go
  pkg/nfd-gc/nfd-gc_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

apis/nfd: Add Status to NodeFeature CRD
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturestatus.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturestatus.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturestatus.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeaturestatus.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/nfd-worker/nfd-worker.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Fix the link to feature gates documentation
  docs/Gemfile
  docs/_config.yml
Due: pull-node-feature-discovery-verify-docs-master

Docs: Fix the link to feature gates documentation
  docs/Gemfile
  docs/_config.yml
  docs/reference/master-commandline-reference.md
  docs/reference/worker-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

nfd-gc: use paging when listing CRs
  pkg/nfd-gc/nfd-gc.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

tests: better assertion message in nfd-gc unit tests
  pkg/nfd-gc/nfd-gc_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Refactor customHealthServer struct and methods
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add nodeUpdaterStatus field to customHealthServer
  pkg/nfd-master/nfd-master.go
  pkg/nfd-master/updater-pool.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Refactor customHealthServer and updaterPool
  pkg/nfd-master/nfd-master.go
  pkg/nfd-master/updater-pool.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add helm migration guide
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-docs-master

docs: use jekyll-rtd-theme from a ruby gem
  Makefile
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  netlify.toml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

tilt: sync up builder go version with project go.mod
  Tiltfile
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Release v0.16.4
  README.md
  deployment/base/gc/gc.yaml
  deployment/base/master/master-deployment.yaml
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/base/worker-job/worker-job.yaml
  deployment/helm/node-feature-discovery/Chart.yaml
  deployment/overlays/prune/master-job.yaml
  docs/_config.yml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

feat/nfd-master: support CR restrictions
  go.mod
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

docs: add CR restrictions to the master configuration reference
  docs/reference/master-configuration-reference.md
  examples/nodefeature.yaml
  nfd-master.conf
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master
