Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

Add revision history limit for master replica and for garbage collector
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

helm: drop trailing whitespace from values.yaml
  deployment/helm/node-feature-discovery/values.yaml
Due: pull-node-feature-discovery-verify-master

docs: reformat tables of helm parameters
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-docs-master

test/e2e: set topology-updater sleep-interval in podfingerprint test
  test/e2e/topology_updater_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/data.json
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/tls.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for v0.16
  v0.16/404.html
  v0.16/contributing/index.html
  v0.16/deployment/helm.html
  v0.16/deployment/image-variants.html
  v0.16/deployment/index.html
  v0.16/deployment/kustomize.html
  v0.16/deployment/metrics.html
  v0.16/deployment/operator.html
  v0.16/deployment/tls.html
  v0.16/deployment/uninstallation.html
  v0.16/developer-guide/index.html
  v0.16/get-started/index.html
  v0.16/get-started/introduction.html
  v0.16/get-started/quick-start.html
  v0.16/reference/feature-gates.html
  v0.16/reference/gc-commandline-reference.html
  v0.16/reference/index.html
  v0.16/reference/master-commandline-reference.html
  v0.16/reference/master-configuration-reference.html
  v0.16/reference/plugin-commandline-reference.html
  v0.16/reference/topology-updater-commandline-reference.html
  v0.16/reference/topology-updater-configuration-reference.html
  v0.16/reference/versions.html
  v0.16/reference/worker-commandline-reference.html
  v0.16/reference/worker-configuration-reference.html
  v0.16/search.html
  v0.16/sitemap.xml
  v0.16/usage/custom-resources.html
  v0.16/usage/customization-guide.html
  v0.16/usage/examples-and-demos.html
  v0.16/usage/features.html
  v0.16/usage/index.html
  v0.16/usage/kubectl-plugin.html
  v0.16/usage/nfd-gc.html
  v0.16/usage/nfd-master.html
  v0.16/usage/nfd-topology-updater.html
  v0.16/usage/nfd-worker.html
  v0.16/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

test/e2e: specify -sleep-interval in topology-updater exclude-memory test
  test/e2e/topology_updater_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

feature-gates: mark NodeFeatureAPI as GA
  docs/reference/feature-gates.md
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  docs/reference/worker-commandline-reference.md
  docs/usage/customization-guide.md
  docs/usage/nfd-gc.md
  docs/usage/nfd-master.md
  pkg/features/features.go
  pkg/nfd-worker/nfd-worker_test.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update Helm repo index for release v0.16.3
  charts/index.yaml
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

README: update to v0.16.3
  README.md
Due: none

scripts/test-infra: bump golangci-lint to v1.59.1
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Helm: Add revision history limit for worker daemonset
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Helm: Add revision history limit for topology updater daemonset
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

scripts/test-infra: bump helm to v3.15.3
  scripts/test-infra/verify.sh
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore: tidy table columns
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-docs-master

Helm: Add revision history limit for worker daemonset (#1797)
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Dockerfile: cache go modules on build
  Dockerfile
  Dockerfile_generator
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: bump kubernetes to v1.30.3
  api/nfd/go.mod
  api/nfd/go.sum
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

helm: add configurable liveness&readiness probes for master topology-updater and worker
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Add helm migration guide
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-docs-master

nfd-master: check nfd api informer cache sync result
  pkg/nfd-master/nfd-api-controller.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Path conditions:
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
