Repository kubernetes-sigs/node-feature-discovery: changes, and which Prow jobs are due for each by the changed paths.
All: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

pull-node-feature-discovery-verify-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/verify.sh
      env:
      - name: CODECOV_TOKEN
        valueFrom:
          secretKeyRef:
            name: nfd-creds
            key: codecov-token

pull-node-feature-discovery-verify-docs-master:
  decorate: true
  spec:
    containers:
    - image: ruby:slim
      command:
      - scripts/test-infra/mdlint.sh

pull-node-feature-discovery-build-master:
  decorate: true
  spec:
    containers:
    - image: golang:1.20
      command:
      - scripts/test-infra/build.sh

nfd-worker: add healthz endpoint
  deployment/base/worker-daemonset/worker-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/worker.yaml
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-topology-updater: serve metrics and healthz on the same port
  cmd/nfd-topology-updater/main.go
  deployment/base/topologyupdater-daemonset/topologyupdater-daemonset.yaml
  deployment/helm/node-feature-discovery/templates/topologyupdater.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-master: serve metrics and healthz endpoint on the same port
  cmd/nfd-master/main.go
  deployment/base/master/master-deployment.yaml
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/service.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  pkg/nfd-master/nfd-master.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/data.json
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Update documentation for master
  master/404.html
  master/contributing/index.html
  master/deployment/helm.html
  master/deployment/image-variants.html
  master/deployment/index.html
  master/deployment/kustomize.html
  master/deployment/metrics.html
  master/deployment/operator.html
  master/deployment/uninstallation.html
  master/developer-guide/index.html
  master/get-started/index.html
  master/get-started/introduction.html
  master/get-started/quick-start.html
  master/reference/feature-gates.html
  master/reference/gc-commandline-reference.html
  master/reference/index.html
  master/reference/master-commandline-reference.html
  master/reference/master-configuration-reference.html
  master/reference/plugin-commandline-reference.html
  master/reference/topology-updater-commandline-reference.html
  master/reference/topology-updater-configuration-reference.html
  master/reference/versions.html
  master/reference/worker-commandline-reference.html
  master/reference/worker-configuration-reference.html
  master/search.html
  master/sitemap.xml
  master/usage/custom-resources.html
  master/usage/customization-guide.html
  master/usage/examples-and-demos.html
  master/usage/features.html
  master/usage/index.html
  master/usage/kubectl-plugin.html
  master/usage/nfd-gc.html
  master/usage/nfd-master.html
  master/usage/nfd-topology-updater.html
  master/usage/nfd-worker.html
  master/usage/using-labels.html
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Deprecate separate metrics and health port args
  docs/deployment/helm.md
  docs/reference/master-commandline-reference.md
  docs/reference/topology-updater-commandline-reference.md
  docs/reference/worker-commandline-reference.md
Due: pull-node-feature-discovery-verify-docs-master

Release template: Document tagging for API submodule
  .github/ISSUE_TEMPLATE/new-patch-release.md
  .github/ISSUE_TEMPLATE/new-release.md
Due: none

go.mod: bump cpuid to v2.2.9
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: drop resourceLabels
  cmd/nfd-master/main.go
  deployment/components/master-config/nfd-master.conf.example
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
  docs/reference/master-commandline-reference.md
  docs/reference/master-configuration-reference.md
  pkg/nfd-master/nfd-master-internal_test.go
  pkg/nfd-master/nfd-master.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

docs: minor update in the feature gates table
  docs/reference/feature-gates.md
Due: pull-node-feature-discovery-verify-docs-master

nfd-topology-updater: Detect E/P cores and expose through attributes
  pkg/nfd-topology-updater/nfd-topology-updater.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add support for master and garbage collector pod topology spread constraints
  deployment/helm/node-feature-discovery/templates/master.yaml
  deployment/helm/node-feature-discovery/templates/nfd-gc.yaml
  deployment/helm/node-feature-discovery/values.yaml
  docs/deployment/helm.md
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master

Detect AMXFP8 cpuid feature
  docs/usage/features.md
Due: pull-node-feature-discovery-verify-docs-master

pkg/utils: drop fswatcher
  pkg/utils/fswatcher.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

go.mod: bump kubernetes patch version
  api/nfd/go.mod
  api/nfd/go.sum
  go.mod
  go.sum
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

chore: add metrics system prefix
  docs/deployment/metrics.md
  examples/grafana-dashboard.json
  pkg/nfd-gc/metrics.go
  pkg/nfd-master/metrics.go
  pkg/nfd-topology-updater/metrics.go
  pkg/nfd-worker/metrics.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

nfd-worker: Add an option to disable setting the owner references
  cmd/nfd-worker/main.go
  cmd/nfd-worker/main_test.go
  deployment/components/worker-config/nfd-worker.conf.example
  deployment/helm/node-feature-discovery/values.yaml
  docs/reference/worker-commandline-reference.md
  docs/reference/worker-configuration-reference.md
  pkg/nfd-worker/nfd-worker.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-verify-docs-master, pull-node-feature-discovery-build-master

apis/nfd: Add Status to NodeFeature CRD
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/fake/fake_nodefeaturestatus.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/generated_expansion.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nfd_client.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeature.go
  api/generated/clientset/versioned/typed/nfd/v1alpha1/nodefeaturestatus.go
  api/generated/informers/externalversions/generic.go
  api/generated/informers/externalversions/nfd/v1alpha1/interface.go
  api/generated/informers/externalversions/nfd/v1alpha1/nodefeaturestatus.go
  api/generated/listers/nfd/v1alpha1/expansion_generated.go
  api/generated/listers/nfd/v1alpha1/nodefeaturestatus.go
  api/nfd/v1alpha1/types.go
  api/nfd/v1alpha1/zz_generated.deepcopy.go
  deployment/base/nfd-crds/nfd-api-crds.yaml
  deployment/helm/node-feature-discovery/crds/nfd-api-crds.yaml
  pkg/nfd-worker/nfd-worker.go
  pkg/nfd-worker/nfd-worker_test.go
  test/e2e/node_feature_discovery_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

nfd-master: check that namespace informer cache sync succeeded
  pkg/nfd-master/namespace-lister.go
  pkg/nfd-master/nfd-api-controller.go
  pkg/nfd-master/nfd-api-controller_test.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Implement run strategy for Node Feature Rules.
  api/nfd/v1alpha1/types.go
  pkg/apis/nfd/nodefeaturerule/expression-api_test.go
  pkg/apis/nfd/nodefeaturerule/expression.go
  pkg/apis/nfd/nodefeaturerule/rule.go
  pkg/apis/nfd/nodefeaturerule/rule_test.go
  pkg/kubectl-nfd/dryrun.go
  pkg/nfd-master/nfd-master.go
  source/custom/custom.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Introduce nfd client tool with subset of image compatibility commands.
  Makefile
  api/image-compatibility/v1alpha1/spec.go
  cmd/nfd/main.go
  cmd/nfd/subcmd/compat/compat.go
  cmd/nfd/subcmd/compat/options/platform.go
  cmd/nfd/subcmd/compat/validate-node.go
  cmd/nfd/subcmd/root.go
  examples/image-compatibility.yaml
  go.mod
  go.sum
  pkg/client-nfd/compat/artifact-client/client.go
  pkg/client-nfd/compat/artifact-client/mock_ArtifactClient.go
  pkg/client-nfd/compat/node-validator/node-validator.go
  pkg/client-nfd/compat/node-validator/node-validator_test.go
  pkg/client-nfd/compat/node-validator/status.go
Due: pull-node-feature-discovery-verify-master, pull-node-feature-discovery-build-master

Add image compatibility documentation
  docs/reference/feature-gates.md
  docs/reference/node-feature-client-reference.md
  docs/reference/versions.md
  docs/usage/image-compatibility.md
Due: pull-node-feature-discovery-verify-docs-master

Path conditions:
  pull-node-feature-discovery-verify-master: unless all of: ^docs/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
  pull-node-feature-discovery-verify-docs-master: any of: ^docs/
  pull-node-feature-discovery-build-master: unless all of: ^docs/|^demo/|^deployment/|^\.github/|\.(md)$|^(README|LICENSE|OWNERS)$
