Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: check-dependency-stats, pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-gce-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

check-dependency-stats:
  decorate: true
  optional: true
  spec:
    containers:
    - image: golang
      command:
      - /bin/bash
      args:
      - -c
      - 'set -euo pipefail
  
  
        export WORKDIR=${ARTIFACTS:-$TMPDIR}
  
        export PATH=$PATH:$GOPATH/bin
  
  
        mkdir -p "${WORKDIR}"
  
        pushd "$WORKDIR"
  
  ...

pull-kubernetes-e2e-gce-cos-alpha-features:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
  ...

pull-kubernetes-node-kubelet-credential-provider:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
  ...

pull-kubernetes-kind-dra:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      args:
      - /bin/sh
  ...

pull-kubernetes-e2e-gce-kubelet-credential-provider:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
  ...

pull-kubernetes-node-e2e-crio-dra:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
  ...

pull-kubernetes-node-e2e-containerd-1-7-dra:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
  ...

implement GetResetFieldsFilter
  pkg/registry/core/pod/strategy.go
Due: none

Comment clarifying definition of non-resizable containers
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Move container status AllocatedResources behind a separate feature gate
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix clearing pod resize status
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix resize E2E tests
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/pod/resize.go
  test/e2e/node/pod_resize.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Always set status Resources, default to allocated
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Stop using status.AllocatedResources to aggregate resources
  pkg/kubelet/cm/helpers_linux.go
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
  pkg/scheduler/framework/events.go
  pkg/scheduler/framework/plugins/noderesources/fit.go
  pkg/scheduler/framework/plugins/noderesources/resource_allocation.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  staging/src/k8s.io/kubectl/pkg/util/resource/resource.go
Due: none

Improve resize test debugability
  test/e2e/common/node/pod_resize.go
  test/e2e/framework/pod/resize.go
  test/e2e/node/pod_resize.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fixup linting
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix ResizeStatus state transitions
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Don't clear resize status when resources are missing
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Update node_name.go
  pkg/scheduler/framework/plugins/nodename/node_name.go
Due: none

If ResourceRequirements changed, always mark a proposed resize
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
Due: none

Don't consider allocated resources for limitranger constraints
  plugin/pkg/admission/limitranger/admission.go
Due: none

Delete unusued max resources function
  plugin/pkg/admission/limitranger/admission.go
Due: none

flake(apiserver): fix TestReconcilerAPIServerLeaseMultiCombined
  test/integration/controlplane/kube_apiserver_test.go
Due: none

Graduate PodLifecycleSleepAction to GA
  pkg/api/pod/util_test.go
  pkg/features/versioned_kube_features.go
  pkg/kubelet/lifecycle/handlers_test.go
  pkg/registry/core/pod/strategy_test.go
  test/e2e/common/node/lifecycle_hook.go
  test/e2e/feature/feature.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: pull-kubernetes-e2e-gce-cos-alpha-features

Don't stop the next poll when it fails to grab logs
  test/e2e/network/dns_common.go
Due: none

kubectl: add test coverage for autoscale command
  staging/src/k8s.io/kubectl/pkg/cmd/autoscale/autoscale_test.go
Due: none

Revert "Don't stop the next poll when it fails to grab logs"
  test/e2e/network/dns_common.go
Due: none

don't panic inside e2e test
  test/e2e/network/dns_common.go
Due: none

kubeadm: use actual addresses/ports for WaitForAllControlPlaneComponents
  cmd/kubeadm/app/util/apiclient/wait.go
  cmd/kubeadm/app/util/apiclient/wait_test.go
Due: none

refresh probed plugins on init to avoid probe race/erroneous unmounts
  pkg/volume/plugins.go
  pkg/volume/plugins_test.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

e2e_node: Pass e2eCriProxy instead of updating global.
  test/e2e_node/criproxy_test.go
  test/e2e_node/image_pull_test.go
  test/e2e_node/utils_linux.go
Due: none

added a comment that statuses lists are not being validated
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/kubelet/types/types.go
  staging/src/k8s.io/api/core/v1/types.go
Due: none

generated files
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Due: none

Job: Utilize parallel executions with workqueue.ParallelizeUntil
  pkg/controller/job/job_controller.go
Due: none

Speed up resize test suite: only test rollback for a subset of cases
  test/e2e/common/node/pod_resize.go
Due: none

Cleanup unused cacheless PLEG code
  pkg/kubelet/pleg/generic.go
  pkg/kubelet/pleg/generic_test.go
Due: none

add swap eviction test
  pkg/kubelet/eviction/helpers.go
  test/e2e_node/eviction_test.go
  test/e2e_node/swap_test.go
Due: none

add misspell linter to golangci
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/golangci.yaml.in
  pkg/proxy/conntrack/cleanup_test.go
  pkg/proxy/endpointschangetracker.go
  test/e2e/windows/eviction.go
Due: none

swap tests in progress
  test/e2e_node/swap_test.go
Due: none

apply a fix
  cmd/kubeadm/app/preflight/checks.go
  cmd/kubeadm/app/preflight/checks_linux.go
  go.mod
  go.sum
  hack/unwanted-dependencies.json
  test/e2e_node/e2e_node_suite_test.go
  vendor/github.com/pacoxu/system-validators/validators/cgroup_validator_linux.go
  vendor/modules.txt
Due: check-dependency-stats

clean up tmp kubelet dir
  pkg/volume/testing/testing.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

feat: Unit tests support testing the passed path and its sub paths.
  hack/make-rules/test.sh
Due: none

simplify ScalingReplicaSet event building in the deployment controller
  pkg/controller/deployment/sync.go
Due: none

node:kubelet:memmgr: Memory Manager to GA
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features

`hack/update-featuregates.sh` output
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: none

memorymanager: FG is locked to ON by default
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/metrics/metrics.go
Due: none

Path conditions:
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-cos-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-gce-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-node-e2e-crio-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-node-e2e-containerd-1-7-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-storage-kind-disruptive: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
