Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: check-dependency-stats, pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-gce-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

Path conditions:
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-cos-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-gce-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-node-e2e-crio-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-node-e2e-containerd-1-7-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-storage-kind-disruptive: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)

Handle resize edge cases around min CPU shares
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Add resize e2e tests around min CPU shares
  test/e2e/common/node/pod_resize.go
Due: none

Add flagz implementation and enablement in apiserver
  cmd/kube-apiserver/app/options/completion.go
  pkg/controlplane/apiserver/config.go
  pkg/controlplane/apiserver/config_test.go
  pkg/controlplane/apiserver/options/options.go
  pkg/controlplane/apiserver/samples/generic/server/server.go
  pkg/controlplane/apiserver/samples/generic/server/testing/testserver.go
  pkg/controlplane/apiserver/server.go
  pkg/features/versioned_kube_features.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/component-base/zpages/features/kube_features.go
  staging/src/k8s.io/component-base/zpages/flagz/flagreader.go
  staging/src/k8s.io/component-base/zpages/flagz/flagreader_test.go
  staging/src/k8s.io/component-base/zpages/flagz/flagz.go
  staging/src/k8s.io/component-base/zpages/flagz/flagz_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: pull-kubernetes-e2e-gce-cos-alpha-features

v1alpha2 LeaseCandidate API
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-scheduler/app/server.go
  hack/lib/init.sh
  pkg/apis/coordination/install/install.go
  pkg/apis/coordination/types.go
  pkg/apis/coordination/v1alpha1/doc.go
  pkg/apis/coordination/v1alpha1/zz_generated.conversion.go
  pkg/apis/coordination/v1alpha2/doc.go
  pkg/apis/coordination/v1alpha2/register.go
  pkg/apis/coordination/validation/validation.go
  pkg/apis/coordination/validation/validation_test.go
  pkg/controlplane/apiserver/aggregator.go
  pkg/controlplane/apiserver/server.go
  pkg/controlplane/controller/leaderelection/election.go
  pkg/controlplane/controller/leaderelection/election_test.go
  pkg/controlplane/controller/leaderelection/leaderelection_controller.go
  pkg/controlplane/controller/leaderelection/leaderelection_controller_test.go
  pkg/controlplane/controller/leaderelection/leasecandidategc_controller.go
  pkg/controlplane/controller/leaderelection/leasecandidategc_controller_test.go
  pkg/controlplane/instance.go
  pkg/kubeapiserver/default_storage_factory_builder.go
  pkg/printers/internalversion/printers.go
  pkg/registry/coordination/rest/storage_coordination.go
  staging/src/k8s.io/api/coordination/v1alpha1/generated.pb.go
  staging/src/k8s.io/api/coordination/v1alpha1/generated.proto
  staging/src/k8s.io/api/coordination/v1alpha1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/coordination/v1alpha1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/coordination/v1alpha1/zz_generated.prerelease-lifecycle.go
  staging/src/k8s.io/api/coordination/v1alpha2/doc.go
  staging/src/k8s.io/api/coordination/v1alpha2/register.go
  staging/src/k8s.io/api/coordination/v1alpha2/types.go
  staging/src/k8s.io/api/roundtrip_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/leasecandidate.go
  staging/src/k8s.io/client-go/tools/leaderelection/leasecandidate_test.go
  test/integration/apiserver/coordinated_leader_election_test.go
  test/integration/etcd/data.go
Due: none

Add missing comments in k8s.io/api/core/v1
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
  hack/.descriptions_failures
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Due: none

QOS changes for Pod Level resources
  pkg/apis/core/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos_test.go
  staging/src/k8s.io/kubectl/pkg/util/qos/qos.go
Due: none

Limit Range changes to validate against Pod Level Resources
  plugin/pkg/admission/limitranger/admission.go
  plugin/pkg/admission/limitranger/admission_test.go
Due: none

Adding OOM Score adjustment formula changes that takes pod level resources into account
  pkg/kubelet/qos/helpers.go
  pkg/kubelet/qos/policy.go
  pkg/kubelet/qos/policy_test.go
Due: none

e2e tests
  test/e2e/common/node/pod_level_resources.go
  test/e2e/feature/feature.go
  test/e2e/framework/pod/resize.go
  test/e2e/framework/pod/utils.go
  test/utils/node.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features

Resource Quota enforcement changes for Pod Level Resources
  pkg/quota/v1/evaluator/core/pods.go
  pkg/quota/v1/evaluator/core/pods_test.go
Due: none

Fixing linter failures
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: none

keeping the qos code as-is for the existing case when pod-level resources are not set
  pkg/apis/core/helper/qos/qos.go
  pkg/apis/core/v1/helper/qos/qos.go
Due: none

Allowlisting k8s.io/components-helpers/resource import in ./pkg/apis/core
  staging/publishing/import-restrictions.yaml
Due: none

csi: update snapshot controller to the v8.1.0
  cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml
Due: none

feature: Add events when resize status changes
  pkg/kubelet/events/event.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

api: reject removing requsets & limits for Burstable pods.
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  test/e2e/common/node/pod_resize.go
Due: none

Remove deprecated extra-dirs flag
  staging/src/k8s.io/code-generator/cmd/conversion-gen/args/args.go
Due: none

Revert "[FG:InPlacePodVerticalScaling] kubelet: Propagate error in doPodResizeAction() to the caller"
  pkg/kubelet/container/sync_result.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

fix isLikelyNotMountPointStatx relative path issue
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
Due: none

Generify fake clientsets
  staging/src/k8s.io/client-go/gentype/fake.go
  staging/src/k8s.io/client-go/kubernetes/typed/certificates/v1beta1/fake/fake_certificatesigningrequest_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_event_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_namespace_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_node_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod_expansion_test.go
  staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_service_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/events/v1beta1/fake/fake_event_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/extensions/v1beta1/fake/fake_deployment_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1/fake/fake_eviction_expansion.go
  staging/src/k8s.io/client-go/kubernetes/typed/policy/v1beta1/fake/fake_eviction_expansion.go
  staging/src/k8s.io/client-go/testing/actions.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/fake_client_generator.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_group.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/fake/generator_fake_for_type.go
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/kubelet/go.sum
Due: none

Align fake client-go clients with the main interface
  staging/src/k8s.io/client-go/gentype/fake.go
Due: none

Make fake node as ready but unschedulable
  test/e2e/node/node_lifecycle.go
Due: none

Add e2e tests
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

addons: Bump cluster-proportional-autoscaler version
  cluster/addons/addon-horizontal-autoscaler/MAINTAINERS.md
  cluster/addons/addon-horizontal-autoscaler/OWNERS
  cluster/addons/addon-horizontal-autoscaler/README.md
  cluster/addons/addon-horizontal-autoscaler/addon-horizontal-autoscaler.yaml
Due: none

Fix linter errors
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

prune-junit-xml: avoid appending semicolon
  cmd/prune-junit-xml/prunexml.go
  cmd/prune-junit-xml/prunexml_test.go
Due: none

Add feature gate, API, and conflict validation tests for enablecrashloopbackoffmax
  api/api-rules/violation_exceptions.list
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Handle when current base is longer than node max
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix indentation
  pkg/kubelet/apis/config/validation/validation_test.go
Due: none

Update pkg/features/kube_features.go
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features

Follow convention for success test
  pkg/kubelet/apis/config/validation/validation_test.go
Due: none

Another one I missed before
  pkg/kubelet/apis/config/types.go
Due: none

Normalize casing, and change field to Duration
  pkg/features/kube_features.go
  pkg/features/versioned_kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Don't clobber global max function
  pkg/kubelet/kubelet.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix json name and some other casing errors
  api/api-rules/violation_exceptions.list
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix typecheck
  pkg/kubelet/apis/config/validation/validation.go
Due: none
