Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: check-dependency-stats, pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-gce-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

check-dependency-stats:
  decorate: true
  optional: true
  spec:
    containers:
    - image: golang
      command:
      - /bin/bash
      args:
      - -c
      - 'set -euo pipefail
  
  
        export WORKDIR=${ARTIFACTS:-$TMPDIR}
  
        export PATH=$PATH:$GOPATH/bin
  
  
        mkdir -p "${WORKDIR}"
  
        pushd "$WORKDIR"
  
  ...

pull-kubernetes-e2e-gce-cos-alpha-features:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
  ...

pull-kubernetes-node-kubelet-credential-provider:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
  ...

pull-kubernetes-kind-dra:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      args:
      - /bin/sh
  ...

pull-kubernetes-e2e-gce-kubelet-credential-provider:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
  ...

pull-kubernetes-node-e2e-crio-dra:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
  ...

pull-kubernetes-node-e2e-containerd-1-7-dra:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
  ...

Revert other test changes
  test/e2e/common/node/kubelet_etc_hosts.go
  test/e2e/network/dns.go
  test/e2e/network/netpol/network_policy.go
  test/e2e/network/networking.go
  test/e2e/network/service.go
Due: none

Revert dual stack test changes
  test/e2e/network/dual_stack.go
Due: none

WIP: check [LinuxOnly] tests
  test/e2e/common/network/networking.go
  test/e2e/common/node/downwardapi.go
  test/e2e/common/node/kubelet_etc_hosts.go
  test/e2e/network/dns.go
  test/e2e/network/dual_stack.go
  test/e2e/network/hostport.go
  test/e2e/network/loadbalancer.go
  test/e2e/network/netpol/network_policy.go
  test/e2e/network/networking.go
  test/e2e/network/service.go
Due: none

Adding the feature gates to fix cost for VAP and webhook matchConditions.
  pkg/apis/admissionregistration/validation/validation.go
  pkg/apis/admissionregistration/validation/validation_test.go
  pkg/features/kube_features.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/compilation_test.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/composition_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/filter_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/cel/interface.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/plugin.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/typechecking.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/policy/validating/validator_test.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/accessors.go
  staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/webhook.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation.go
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_test.go
  staging/src/k8s.io/apiserver/pkg/authentication/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/authorization/cel/compile_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/base_test.go
  staging/src/k8s.io/apiserver/pkg/cel/environment/environment_test.go
  staging/src/k8s.io/apiserver/pkg/cel/lazy/lazy_test.go
  staging/src/k8s.io/apiserver/pkg/cel/mutation/env_test.go
  staging/src/k8s.io/apiserver/pkg/cel/mutation/unstructured/typeresolver_test.go
  staging/src/k8s.io/apiserver/pkg/cel/openapi/compiling_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/dynamic-resource-allocation/structured/namedresources/cel/compile.go
  test/integration/apiserver/admissionwebhook/match_conditions_test.go
  test/integration/apiserver/cel/typeresolution_test.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

rewrite storage factory unit test to use stub types
  staging/src/k8s.io/apiserver/pkg/server/storage/storage_factory_test.go
Due: none

node e2e: Add StartDelay to postStart hook
  test/e2e_node/container_lifecycle_test.go
Due: none

Fix NFS related issues on GCP/Ubuntu
  test/e2e/storage/drivers/in_tree.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

fix ci
  staging/publishing/rules.yaml
Due: none

remove legacy-cloud-providers' master branch configuration from publishing rules.yaml
  staging/publishing/rules.yaml
Due: none

Revert "remove legacycloudproviders from staging"
  go.mod
  go.work
  hack/golangci-hints.yaml
  hack/golangci-strict.yaml
  hack/golangci.yaml
  hack/logcheck.conf
  staging/README.md
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/legacy-cloud-providers/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/legacy-cloud-providers/LICENSE
  staging/src/k8s.io/legacy-cloud-providers/OWNERS
  staging/src/k8s.io/legacy-cloud-providers/README.md
  staging/src/k8s.io/legacy-cloud-providers/SECURITY_CONTACTS
  staging/src/k8s.io/legacy-cloud-providers/code-of-conduct.md
  staging/src/k8s.io/legacy-cloud-providers/doc.go
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
Due: check-dependency-stats

remove BulkVolumeVerifier interface from volume
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_plugin.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/fc.go
  pkg/volume/flexvolume/plugin.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/hostpath/host_path.go
  pkg/volume/iscsi/iscsi.go
  pkg/volume/local/local.go
  pkg/volume/nfs/nfs.go
  pkg/volume/noop_expandable_plugin.go
  pkg/volume/plugins.go
  pkg/volume/plugins_test.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/secret/secret.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/fakegenerator.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_executor_test.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/volume.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

Move pkg/kubelet/cri/remote to cri-client
  cmd/kubemark/app/hollow_node.go
  go.mod
  pkg/kubelet/apis/podresources/client.go
  pkg/kubelet/cri/remote/OWNERS
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/server/server.go
  pkg/kubelet/util/util_unix.go
  pkg/kubelet/util/util_unix_test.go
  pkg/kubelet/util/util_windows.go
  pkg/kubelet/util/util_windows_test.go
  pkg/probe/exec/exec.go
  pkg/probe/exec/exec_test.go
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/cri-client/go.sum
  staging/src/k8s.io/cri-client/pkg/doc.go
  staging/src/k8s.io/cri-client/pkg/fake/doc.go
  staging/src/k8s.io/cri-client/pkg/fake/endpoint.go
  staging/src/k8s.io/cri-client/pkg/fake/endpoint_windows.go
  staging/src/k8s.io/cri-client/pkg/fake/fake_image_service.go
  staging/src/k8s.io/cri-client/pkg/fake/fake_runtime.go
  staging/src/k8s.io/cri-client/pkg/remote_image.go
  staging/src/k8s.io/cri-client/pkg/remote_image_test.go
  staging/src/k8s.io/cri-client/pkg/remote_runtime.go
  staging/src/k8s.io/cri-client/pkg/remote_runtime_test.go
  staging/src/k8s.io/cri-client/pkg/util/util_unix.go
  staging/src/k8s.io/cri-client/pkg/util/util_unix_test.go
  staging/src/k8s.io/cri-client/pkg/util/util_unsupported.go
  staging/src/k8s.io/cri-client/pkg/util/util_windows.go
  staging/src/k8s.io/cri-client/pkg/util/util_windows_test.go
  staging/src/k8s.io/cri-client/pkg/utils.go
  staging/src/k8s.io/cri-client/pkg/utils_test.go
  test/e2e_node/util.go
  vendor/modules.txt
Due: check-dependency-stats, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Cherry pick #124618 to 1.28
  pkg/scheduler/internal/queue/scheduling_queue.go
  pkg/scheduler/internal/queue/scheduling_queue_test.go
  test/integration/scheduler/queue_test.go
Due: none

e22/network: dump iptables and conntrack flows for debugging
  test/e2e/framework/network/utils.go
Due: none

e2e/network: dump iptables and conntrack flows for debugging
  test/e2e/framework/network/utils.go
Due: none

Cherry pick #124618 to 1.27
  pkg/scheduler/internal/queue/scheduling_queue.go
  test/integration/scheduler/queue_test.go
Due: none

storage/cacher: waitUntilWatchCacheFreshAndForceAllEvents checks if storage.RequestWatchProgress is supported
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Due: none

Update hostutil_windows.go
  pkg/volume/util/hostutil/hostutil_windows.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

Update CHANGELOG/CHANGELOG-1.29.md for v1.29.5
  CHANGELOG/CHANGELOG-1.29.md
Due: none

Update CHANGELOG/CHANGELOG-1.30.md for v1.30.1
  CHANGELOG/CHANGELOG-1.30.md
Due: none

Update CHANGELOG/CHANGELOG-1.27.md for v1.27.14
  CHANGELOG/CHANGELOG-1.27.md
Due: none

Update CHANGELOG/CHANGELOG-1.28.md for v1.28.10
  CHANGELOG/CHANGELOG-1.28.md
Due: none

QueueingHint for CSILimit when deleting pods
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
Due: none

feat: add all-pods log flag to kubectl
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go
  staging/src/k8s.io/kubectl/pkg/cmd/logs/logs_test.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/helpers.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/helpers_test.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/interface.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
  staging/src/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject_test.go
  test/e2e/kubectl/logs.go
Due: none

Fix:Static pod status is always Init:0/1 if unable to get init container status from container runtime.
  pkg/kubelet/kubelet_pods.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Do not remove Job's finalizer from Pod owned by a non-batch/v1 Job
  pkg/controller/job/job_controller.go
  pkg/controller/job/job_controller_test.go
Due: none

e2e/storage: Add missing GinkgoRecover call
  test/e2e/storage/in_tree_volumes.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

QueueingHint for CSILimit when deleting pods (#121508)
  pkg/scheduler/framework/plugins/nodevolumelimits/csi.go
  pkg/scheduler/framework/plugins/nodevolumelimits/csi_test.go
Due: none

Add docs/dev/sig-network with the service proxy doc from kpng
  docs/dev/sig-network/OWNERS
  docs/dev/sig-network/service-proxy.md
Due: none

kms mock: gitignore go.work.sum
  staging/src/k8s.io/kms/internal/plugins/_mock/.gitignore
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work.sum
Due: none

CHANGELOG: Update directory for v1.28.10 release
  CHANGELOG/CHANGELOG-1.28.md
Due: none

CHANGELOG: Update directory for v1.29.5 release
  CHANGELOG/CHANGELOG-1.29.md
Due: none

CHANGELOG: Update directory for v1.30.1 release
  CHANGELOG/CHANGELOG-1.30.md
Due: none

Path conditions:
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-cos-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-gce-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-node-e2e-crio-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-node-e2e-containerd-1-7-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-storage-kind-disruptive: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
