Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: check-dependency-stats, pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-gce-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

Path conditions:
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-cos-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-gce-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-node-e2e-crio-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-node-e2e-containerd-1-7-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-storage-kind-disruptive: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)

Add a NodeSwapEnabled node condition
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  staging/src/k8s.io/api/core/v1/types.go
Due: none

unit tests: Adapt kubelet_node_status_test
  pkg/kubelet/kubelet_node_status_test.go
Due: none

unit tests: NodeSwapEnabled node condition
  pkg/kubelet/nodestatus/setters_test.go
Due: none

node e2e test: NodeSwapEnabled node condition
  test/e2e_node/swap_test.go
Due: none

revendor dependencies
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
Due: pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

Change structure of NodeToStatus map in scheduler
  pkg/scheduler/framework/interface.go
  pkg/scheduler/framework/interface_test.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption_test.go
  pkg/scheduler/framework/plugins/dynamicresources/dynamicresources.go
  pkg/scheduler/framework/preemption/preemption.go
  pkg/scheduler/framework/preemption/preemption_test.go
  pkg/scheduler/framework/runtime/framework.go
  pkg/scheduler/framework/runtime/framework_test.go
  pkg/scheduler/framework/types.go
  pkg/scheduler/framework/types_test.go
  pkg/scheduler/schedule_one.go
  pkg/scheduler/schedule_one_test.go
  test/integration/scheduler/plugins/plugins_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

revendor dependencies
  staging/publishing/rules.yaml
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
Due: pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

add TLSExpiration to audit log
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/generated.pb.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/generated.proto
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/types.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.conversion.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/v1/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/apis/audit/zz_generated.deepcopy.go
  staging/src/k8s.io/apiserver/pkg/audit/format.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
Due: none

unit test fixes
  staging/src/k8s.io/client-go/rest/config.go
  staging/src/k8s.io/client-go/rest/config_test.go
  staging/src/k8s.io/client-go/rest/exec_test.go
Due: none

Fix volume modify e2e tests because pv controller set the current vac once the pvc is bound
  test/e2e/framework/pv/wait.go
  test/e2e/storage/testsuites/volume_modify.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

Implement ensure secret pulled images feature
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/container/helpers.go
  pkg/kubelet/container/helpers_test.go
  pkg/kubelet/images/image_manager.go
  pkg/kubelet/images/image_manager_test.go
  pkg/kubelet/images/puller.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Using NewExpressions for cel lazy test.
  staging/src/k8s.io/apiserver/pkg/cel/lazy/lazy_test.go
Due: none

kube-proxy: internal config: fuzz cidr values for unit tests
  pkg/proxy/apis/config/fuzzer/fuzzer.go
Due: none

fix a typo in kubeadm v1beta4 doc
  cmd/kubeadm/app/apis/kubeadm/v1beta4/doc.go
Due: none

set LocalStorageCapacityIsolationFSQuotaMonitoring to false by default
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features

add workdir in etcd Dockerfile for windows
  cluster/images/etcd/Dockerfile.windows
Due: none

Add larger scheduler_perf test cases
  test/integration/scheduler_perf/config/performance-config.yaml
Due: none

Fix verify-vendor script to check all go.mod and go.sum files
  hack/verify-vendor.sh
Due: none

refactor(deployment/rollback): the func 'rollback' add parameter ‘rollbackTo’ type of *extensions.RollbackConfig
  pkg/controller/deployment/deployment_controller.go
  pkg/controller/deployment/rollback.go
Due: none

Add integration test for default BanFlunder behavior in version 1.2 without Wardle feature gate.
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start.go
  staging/src/k8s.io/sample-apiserver/pkg/cmd/server/start_test.go
  test/integration/examples/apiserver_test.go
Due: none

succeeded pod is being re-admitted
  pkg/kubelet/kubelet.go
  test/e2e_node/device_plugin_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

Fix estimated cost for Kubernetes defined CEL types
  staging/src/k8s.io/apiserver/pkg/cel/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/format_test.go
  staging/src/k8s.io/apiserver/pkg/cel/limits.go
Due: none

codegen
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
Due: none

openapi
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/api__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1alpha1_openapi.json
  api/openapi-spec/v3/apis__admissionregistration.k8s.io__v1beta1_openapi.json
  api/openapi-spec/v3/apis__apiextensions.k8s.io__v1_openapi.json
  api/openapi-spec/v3/apis__apps__v1_openapi.json
  api/openapi-spec/v3/apis__batch__v1_openapi.json
Due: none

support opaque kinds
  staging/src/k8s.io/apiserver/pkg/cel/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
Due: none

Add basic panicOnUnknown support for kubernetes types
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
Due: none

update go workspaces
  go.work.sum
Due: none

Update err message before ratcheting feature enabled.
  test/integration/apiserver/crd_validation_expressions_test.go
Due: none

Update err message before ratcheting enabled.
  test/integration/apiserver/crd_validation_expressions_test.go
Due: none

PodResources should ignore and not reports about resources which are in used by pods which are in terminal phase.
  pkg/kubelet/apis/podresources/server_v1.go
Due: none

support Table for WatchList
  staging/src/k8s.io/client-go/dynamic/client_test.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_watchlist_test.go
Due: none

kubeadm: promote etcd learner mode to GA
  cmd/kubeadm/app/features/features.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features

TestPickBestStrategy flake fix
  pkg/controlplane/controller/leaderelection/election.go
Due: none

kube-apiserver/leaderelection: remove broken printf
  pkg/controlplane/controller/leaderelection/election.go
Due: none

build: fix README instructions to load the output image tar
  build/README.md
Due: none

Update the Comment for StableLoadBalancerNodeSet Feature Gate.
  pkg/features/kube_features.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features
