Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: check-dependency-stats, pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-node-kubelet-credential-provider, pull-kubernetes-kind-dra, pull-kubernetes-e2e-gce-kubelet-credential-provider, pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra, pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

check-dependency-stats:
  decorate: true
  optional: true
  spec:
    containers:
    - image: golang
      command:
      - /bin/bash
      args:
      - -c
      - 'set -euo pipefail
  
  
        export WORKDIR=${ARTIFACTS:-$TMPDIR}
  
        export PATH=$PATH:$GOPATH/bin
  
  
        mkdir -p "${WORKDIR}"
  
        pushd "$WORKDIR"
  
  ...

pull-kubernetes-e2e-gce-cos-alpha-features:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
  ...

pull-kubernetes-node-kubelet-credential-provider:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
  ...

pull-kubernetes-kind-dra:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      args:
      - /bin/sh
  ...

pull-kubernetes-e2e-gce-kubelet-credential-provider:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
  ...

pull-kubernetes-node-e2e-crio-dra:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-pull-kubernetes-e2e: 'true'
    preset-pull-kubernetes-e2e-gce: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
  ...

pull-kubernetes-node-e2e-containerd-1-7-dra:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20231206-f7b83ffbe6-master
      command:
      - runner.sh
      - /workspace/scenarios/kubernetes_e2e.py
      args:
  ...

[KEP-4817] Fix fuzz API tests and ./hack/update-featuregates.sh
  pkg/apis/resource/fuzzer/fuzzer.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: none

[KEP-4817] improve testing
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/registry/resource/resourceclaim/strategy_test.go
  test/integration/resourceclaim/feature_enable_disable_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] E2E: Update ResourceClaim.Status.Devices
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/e2e/dra/test-driver/deploy/example/plugin-permissions.yaml
  test/e2e/feature/feature.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Drop deallocated devices from resourceclaim.status.devices
  pkg/registry/resource/resourceclaim/strategy.go
  pkg/registry/resource/resourceclaim/strategy_test.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Remove pointer on Data, InterfaceName and HWAddress fields
  pkg/apis/resource/fuzzer/fuzzer.go
  pkg/apis/resource/types.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  test/e2e/dra/dra.go
  test/integration/resourceclaim/feature_enable_disable_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Use structured.MakeDeviceID
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/registry/resource/resourceclaim/strategy.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Rename Addresses to IPs
  pkg/apis/resource/types.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  test/e2e/dra/dra.go
  test/integration/resourceclaim/feature_enable_disable_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Remove unnecessary DeepCopy in validation tests
  pkg/apis/resource/validation/validation_resourceclaim_test.go
Due: none

[KEP-4817] Update to v1beta1
  staging/src/k8s.io/api/resource/v1beta1/types.go
  test/e2e/dra/dra.go
  test/e2e/dra/test-driver/app/kubeletplugin.go
  test/integration/resourceclaim/feature_enable_disable_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Improve NetworkData Validation
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
Due: none

[KEP-4817] Fixes based on review
  pkg/apis/resource/types.go
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
  pkg/registry/resource/resourceclaim/strategy.go
  pkg/registry/resource/resourceclaim/strategy_test.go
  staging/src/k8s.io/api/resource/v1alpha3/types.go
  test/e2e/dra/dra.go
  test/integration/resourceclaim/feature_enable_disable_test.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features, pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

[KEP-4817] Add data length limit (from #128601)
  pkg/apis/resource/validation/validation.go
  pkg/apis/resource/validation/validation_resourceclaim_test.go
Due: none

[KEP-4817] make update
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1alpha3_openapi.json
  api/openapi-spec/v3/apis__resource.k8s.io__v1beta1_openapi.json
  pkg/apis/resource/v1alpha3/zz_generated.conversion.go
  pkg/apis/resource/v1beta1/zz_generated.conversion.go
  pkg/apis/resource/zz_generated.deepcopy.go
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/resource/v1alpha3/generated.pb.go
  staging/src/k8s.io/api/resource/v1alpha3/generated.proto
  staging/src/k8s.io/api/resource/v1alpha3/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1alpha3/zz_generated.deepcopy.go
  staging/src/k8s.io/api/resource/v1beta1/generated.pb.go
  staging/src/k8s.io/api/resource/v1beta1/generated.proto
  staging/src/k8s.io/api/resource/v1beta1/types_swagger_doc_generated.go
  staging/src/k8s.io/api/resource/v1beta1/zz_generated.deepcopy.go
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1alpha3.ResourceClaim.json
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1alpha3.ResourceClaim.pb
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1alpha3.ResourceClaim.yaml
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1beta1.ResourceClaim.json
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1beta1.ResourceClaim.pb
  staging/src/k8s.io/api/testdata/HEAD/resource.k8s.io.v1beta1.ResourceClaim.yaml
  staging/src/k8s.io/client-go/applyconfigurations/internal/internal.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1alpha3/allocateddevicestatus.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1alpha3/networkdevicedata.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1alpha3/resourceclaimstatus.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1beta1/allocateddevicestatus.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1beta1/networkdevicedata.go
  staging/src/k8s.io/client-go/applyconfigurations/resource/v1beta1/resourceclaimstatus.go
  staging/src/k8s.io/client-go/applyconfigurations/utils.go
Due: pull-kubernetes-kind-dra, pull-kubernetes-node-e2e-crio-dra, pull-kubernetes-node-e2e-containerd-1-7-dra

Update etcd from v3.5.15 to v3.5.16
  build/dependencies.yaml
  cluster/gce/manifests/etcd.manifest
  cluster/gce/upgrade-aliases.sh
  cmd/kubeadm/app/constants/constants.go
  hack/lib/etcd.sh
  staging/src/k8s.io/sample-apiserver/artifacts/example/deployment.yaml
  test/utils/image/manifest.go
Due: none

Build etcd image v3.5.16
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
Due: none

[KEP-4817] UPDATE_API_KNOWN_VIOLATIONS=true ./hack/update-codegen.sh
  api/api-rules/violation_exceptions.list
Due: none

Build etcd image v3.5.16
  build/dependencies.yaml
  cluster/images/etcd/Makefile
  cluster/images/etcd/migrate/options.go
  test/e2e/framework/providers/gcp.go
Due: none

Add integration test for NodeVolumeLimits in requeueing scenarios
  pkg/scheduler/testing/wrappers.go
  test/integration/scheduler/queue_test.go
Due: none

Mark node-lifecycle e2e as serial
  test/conformance/testdata/conformance.yaml
  test/e2e/node/node_lifecycle.go
Due: none

remove runonce mode
  cmd/kubelet/app/server.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/validation/validation.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/runonce.go
  pkg/kubelet/runonce_test.go
  pkg/kubemark/hollow_kubelet.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

kubectl: fix wait --for=create to work correctly with label selectors
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Due: none

feat: graduate SchedulerQueueingHints to beta
  pkg/features/versioned_kube_features.go
  pkg/scheduler/backend/queue/scheduling_queue_test.go
  pkg/scheduler/scheduler_test.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: pull-kubernetes-e2e-gce-cos-alpha-features

kubelet: don't check for mounted before update dsw PV size
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
Due: pull-kubernetes-e2e-gce-storage-slow, pull-kubernetes-e2e-gce-storage-snapshot, pull-kubernetes-e2e-gce-csi-serial, pull-kubernetes-e2e-storage-kind-disruptive

fix: fix the issue of losing the pending phase after a node restart.
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  test/e2e/framework/pod/wait.go
  test/e2e_node/pod_status_test.go
Due: pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2

[test]: fake metrics client: nodemetricses/podmetricses expect nodemetricses/podmetricses as the resource name
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/fake/fake_nodemetrics.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/fake/fake_podmetrics.go
  staging/src/k8s.io/metrics/pkg/client/clientset_test/clientset_test.go
Due: none

mark the status of fake node as NotReady
  test/e2e/node/node_lifecycle.go
Due: none

Fix pod scale down failure in EventHandlingPodUpdate scheduler_perf test case
  test/integration/scheduler_perf/event_handling/performance-config.yaml
  test/integration/scheduler_perf/event_handling/templates/podupdate-pod-blocker-scale-down.yaml
  test/integration/scheduler_perf/update.go
Due: none

Fix content type fallback when a client defaults to CBOR.
  staging/src/k8s.io/client-go/rest/client.go
  staging/src/k8s.io/client-go/rest/request.go
  test/integration/client/client_test.go
Due: none

Add E2E test for CBOR client compatibility with older apiservers.
  test/e2e/apimachinery/protocol.go
  test/e2e/feature/feature.go
Due: pull-kubernetes-e2e-gce-cos-alpha-features

move CTB alpha deprecation 2 releases
  staging/src/k8s.io/api/certificates/v1alpha1/types.go
Due: none

make update
  api/discovery/aggregated_v2.json
  api/discovery/apis.json
  api/discovery/apis__certificates.k8s.io.json
  api/discovery/apis__certificates.k8s.io__v1alpha1.json
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__certificates.k8s.io__v1alpha1_openapi.json
  staging/src/k8s.io/api/certificates/v1alpha1/zz_generated.prerelease-lifecycle.go
Due: none

Job: Add evaluation step comments in the syncJob
  pkg/controller/job/job_controller.go
Due: none

Replace PollImmediate with PollUntilContextTimeout (#128147)
  staging/src/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  staging/src/k8s.io/kubectl/pkg/cmd/replace/replace.go
  staging/src/k8s.io/kubectl/pkg/scale/scale.go
  staging/src/k8s.io/kubectl/pkg/scale/scale_test.go
  test/utils/update_resources.go
Due: none

Update staging docs to add externaljwt
  staging/README.md
Due: none

node: cm: don't share containerMap instances between managers
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/container_manager_windows.go
  pkg/kubelet/cm/containermap/container_map.go
  pkg/kubelet/cm/containermap/container_map_test.go
Due: none

Path conditions:
  check-dependency-stats: any of: ^(go.mod|go.sum|vendor)
  pull-kubernetes-e2e-gce-cos-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-node-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-kind-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/
  pull-kubernetes-e2e-gce-kubelet-credential-provider: any of: ^(pkg\/credential\/provider\/|test\/e2e_node\/plugins\/gcp-credential-provider)
  pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: any of: test/e2e/node/pod_resize.go|pkg/kubelet/kubelet.go|pkg/kubelet/kubelet_pods.go|pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pull-kubernetes-node-e2e-crio-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-node-e2e-containerd-1-7-dra: any of: /dra/|/dynamicresources/|/resourceclaim/|/resourceclass/|/podscheduling/|/resourceclaimtemplate/|/dynamic-resource-allocation/|/pkg/apis/resource/|/api/resource/|/test/e2e_node/dra_test.go
  pull-kubernetes-e2e-gce-storage-slow: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-storage-snapshot: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-gce-csi-serial: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
  pull-kubernetes-e2e-storage-kind-disruptive: any of: ^(pkg\/controller\/volume|pkg\/kubelet\/volumemanager|pkg\/volume|pkg\/util\/mount|test\/e2e\/storage|test\/e2e\/testing-manifests\/storage-csi)
